<div class="white_content" id="complete_purchase_no_one_click" style="display: none; z-index: 1005;">
  <div class="popup-upper-block-military advanced-popup">
    <span class="popup-top">&nbsp;</span>
    <div class="popup-content" style="width: 592px !important; padding: 0 6px;">
      <div class="gradient-content gradient-content-white" style="padding: 10px 25px 5px;">
        <div class="popup-header-container" style="padding-bottom: 6px;">
          <label class="popup-heading"><%= t('complete_purchase_no_one_click.heading') %></label>
        </div>
        <div class="popup-inner-content" style="height:auto; overflow:hidden; margin-top: 8px;">
          <p style="width:370px; font-size:14px; font-weight:400;" class="lfloat">
            <%= t('complete_purchase_no_one_click.free_text1') %><br /><%= t('complete_purchase_no_one_click.free_text2') %><br /><%= t('complete_purchase_no_one_click.free_text3') %> <span style="font-weight: 700;" class="balance_amount"></span>.
          </p>
          <span id="verify-loader-img_no_one_click" style="display:none; margin-top: 8px;" class="rfloat"><%=image_tag("ajax-loader-login.gif", :alt => "Loading ...")%></span>
          <input type="button" id ="continue-button-active_no_one_click" class="continue-button-active rfloat" onClick="complete_purchase.no_one_click_close();" style="margin-top:10px;" />
        </div>
      </div>
      <a onclick="$('#complete_purchase_no_one_click').hide();$('#fade_normal_warning').hide();" class="close" href="javascript:void(0)">Close</a>

    </div>

    <span class="popup-bottom">&nbsp;</span>
  </div>

</div>
