<%content_for :page_js do -%>
  <!--[if IE]><script language="javascript" type="text/javascript" src="/assets/excanvas.min.js"></script><![endif]-->
  <%= javascript_include_tag 'jquery.flot.js','jquery.flot.symbol.js' %>
<%end-%>

<!-- Content area start-->
<div id="content">
  <!-- Content area Heading-->
  <div id="menu">
    <%=render :partial => "/employer_account/shared/employer_tabs" -%>
  </div>
  <!--Content area heading end-->
  <!-- Content area center part-->
  <div class="tab-content-top">&nbsp;</div>
  <div id="tab-content">
    <div class="tab-content-area-left">
      <div class="emp-left-menu" id="update_categories">
        <%=render :partial=>"/employer_account/employer_left_menu",:locals=>{:jobs => @jobs}%>
      </div>
      <div class="dash-left-bottom">&nbsp;</div>
    </div>
    <!--Right Content Area Start-->
    <div class="tab-content-area-right">
      <div class="emp-right-content">
        <div class="emp-content-box">
          <div class="chart-container">
            <%if !@job.nil?%>
              <input type="hidden" id="job_id" value="<%=@job.id%>"/>

              <%=render :partial=>"/employer_account/charts/pool_summary"-%>
              <div class="height10">&nbsp;</div>
              <div class="height10">&nbsp;</div>
              <%=render :partial => "/postings/bar_chart" -%>
              <div class="height10">&nbsp;</div>

            <%end%>

          </div>

          <div class="height10">&nbsp;</div>

          <div class="table-container-dashboard" id="table-container-candidate">
              <!--<div class="loader"><%=image_tag("ajax-loader-login.gif")%></div> -->
            <%=render :partial=>"/postings/sharing_content"%>
          </div>

        </div>
      </div>
      <div class="dash-right-bottom">&nbsp;</div>
      <%=render :partial =>"/shared/employer/footer" -%>
    </div>
    <!-- Right Content Area End-->

    <div class="clear-height">&nbsp;</div>
  </div>
</div><!--/ Content area center part
</div>
<!-- Content area end -->


<script type="text/javascript">
  $(document).ready(function(){
<% if params[:selected].present? %>
  <% if session[:employer].account_type_id != 3 %>
        $("#parent_id").val('<%= params[:selected] %>');
    <% case params[:selected].to_i %>
    <% when -1 %>
          $("#outer_pos label").html("ALL POSITIONS");
          $("#company-group-list-section").addClass("disable");
    <% when 0 %>
          $("#outer_pos label").html("MY POSITIONS");
          $("#company-group-list-section").sortable("enable");
          $("#company-group-list-section").removeClass("disable");
          emp_left_menu_event.group_drag();
          emp_left_menu_event.job_section_drag();
    <% else %>
      <% if @name.present? %>
            $("#outer_pos label").html('<%= @name %>');
            $("#company-group-list-section").addClass("disable");
      <% else %>
            $("#outer_pos label").html("ALL POSITIONS");
            $("#company-group-list-section").addClass("disable");
      <% end %>
    <% end %>
  <% else %>
  <% end %>
<% end %>
    var clip = new ZeroClipboard.Client();
    clip.setText($('#copy-url').val());
    clip.setHandCursor( true );
    clip.glue('copy_to_clipboard','copy_to_clipboard_container');
<% if not session[:msg].nil? %>
      showSuccessSharingMsg('<%=session[:msg]%>');
  <%session[:msg] = nil%>
<%end%>
      
    setInterval(function() {
      updateNotificationCount()
    }, 300000);

  });
</script>