<div id="privacy_policy" class="white_content">
  <div class="popup-siteActivation privacy-policy">
    <span class="popup-top">&nbsp;</span>
    <div class="popup-content">
      <div class="gradient-content" >
        <div class="popup-header-container margin-B-10px">
          <label class="popup-heading"><%=t ("employer_privacy_policy.title") %></label>
        </div>
        <div class="privacy-text" style="height:400px;">
          <div>
            <div class="tandcheader privacy-heading-align">Hilo, Inc. <%=t ("employer_privacy_policy.sub_title") %></div>
          </div>
          <div class="tandctext"> <%=t ("employer_privacy_policy.overview.title") %> </div>
          <div class="tandctext"> <%=t ("employer_privacy_policy.overview.title_contentL1") %> </div>
          <div class="tandcheader"> <%=t ("employer_privacy_policy.information_collect.title") %> </div>
          <div class="tandctext"> <%=t ("employer_privacy_policy.information_collect.title_contentL1.title") %> </div>
          <div class="tandctext"> 1) <%=t ("employer_privacy_policy.information_collect.title_contentL1.title_contentL1of1") %> </div>
          <div class="tandctext"> 2) <%=t ("employer_privacy_policy.information_collect.title_contentL1.title_contentL1of2") %> </div>
          <div class="tandctext"> 3) <%=t ("employer_privacy_policy.information_collect.title_contentL1.title_contentL1of3") %> </div>
          <div class="tandctext"> 4) <%=t ("employer_privacy_policy.information_collect.title_contentL1.title_contentL1of4") %> </div>
          <div class="tandctext"> <%=t ("employer_privacy_policy.information_collect.title_contentL2") %> </div>
          <div class="tandctext"> <%=t ("employer_privacy_policy.information_collect.title_contentL3") %> </div>
          <div class="tandctext"> <%=t ("employer_privacy_policy.information_collect.title_contentL4") %> </div>
          <div class="tandcheader"> <%=t ("employer_privacy_policy.information_use.title") %> </div>
          <div class="tandctext"> <%=t ("employer_privacy_policy.information_use.title_contentL1") %> </div>
          <div class="tandctext"> <%=t ("employer_privacy_policy.information_use.title_contentL2") %> </div>
          <div class="tandctext"> <%=t ("employer_privacy_policy.information_use.title_contentL3") %> </div>
          <div class="tandcheader"> <%=t ("employer_privacy_policy.choice_option.title") %> </div>
          <div class="tandctext"> <%=t ("employer_privacy_policy.choice_option.title_contentL1") %> </div>
          <div class="tandctext">
            <div>
              E-mail:
              <a href="mailto:info@thehiloproject.com">info@hiloproject.com</a>
            </div>
            <br />
            <div> Hilo, Inc. </div>
            <div> Attn: Customer Support </div>
            <div> Facsimile: 866-338-1848 </div>
            <div> Email: info@thehiloproject.com </div>
          </div>
          <div class="tandcheader"> <%=t ("employer_privacy_policy.information_privacy.title") %> </div>
          <div class="tandctext"> <%=t ("employer_privacy_policy.information_privacy.title_contentL1") %> </div>
          <div class="tandcheader"> <%=t ("employer_privacy_policy.changes_to_privacy_policy.title") %> </div>
          <div class="tandctext"> <%=t ("employer_privacy_policy.changes_to_privacy_policy.title_contentL1") %> </div>
          <div class="tandcheader"> <%=t ("employer_privacy_policy.business_transfers.title") %> </div>
          <div class="tandctext"> <%=t ("employer_privacy_policy.business_transfers.title_contentL1") %> </div>
          <div class="tandcheader"> <%=t ("employer_privacy_policy.linked_services.title") %> </div>
          <div class="tandctext"> <%=t ("employer_privacy_policy.linked_services.title_contentL1") %> </div>
          <div class="tandcheader"> <%=t ("employer_privacy_policy.more_information.title") %> </div>
          <div class="tandctext"> <%=t ("employer_privacy_policy.more_information.title_contentL1") %> </div>
          <div class="tandcheader"> <%=t ("employer_privacy_policy.acknowledgement.title") %> </div>
          <div class="tandctext">
            <%=t ("employer_privacy_policy.acknowledgement.title_contentL1") %>
            <div> <%=t ("employer_privacy_policy.acknowledgement.last_updated") %> </div>
            <div>Hilo, Inc. &copy; 2012, All rights reserved.</div>
          </div>
        </div>
      </div>
      <a href="javascript:void(0)" class="close" onClick="hidePrivacyPopup();footerOnClosingPopup();">Close</a>
    </div>
    <span class="popup-bottom">&nbsp;</span>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.privacy-text').slimscroll({
      railVisible: true,
      allowPageScroll: false,
      height: "400px"
    });
  });
</script>