<div class="shared-row">
	<div class="home-share-box-left" style="">
			<a href="javascript:void(0);" onclick="testimonial.view();"><%=image_tag("testimonials.png")%></a>

			<div class="home-share-text">
				<a href="javascript:void(0);" onclick="testimonial.view();">Testimonials</a>
			</div> 
	</div>
	
	<div class="home-share-box-left">
			<a href="javascript:void(0);" onclick="home_share.authenticate();"><%=image_tag("share_facebook.png")%></a>
			
			<div class="home-share-text">
				<a href="javascript:void(0);" onclick="home_share.authenticate();">Facebook</a> 
			</div> 
	</div>

	<div class="home-share-box-left">
			<a href="<%=twitter_networking_url()%>"  TARGET="_blank"><%=image_tag("share_witter.png")%></a>
			
			<div class="home-share-text">
				<a href="<%=twitter_networking_url()%>"  TARGET="_blank">Twitter</a> 
			</div> 
	</div>

	<div class="home-share-box-left">
			<a href="<%=linkedin_networking_url()%>" TARGET="_blank"><%=image_tag("share_linkedin.png")%></a>
			<div class="home-share-text">
				<a href="<%=linkedin_networking_url()%>" TARGET="_blank">Linkedin</a> 

			</div> 
	</div>

	<div  class="home-share-box-right">
			<a href="javascript:void(0);" onclick="gift.show();"><%=image_tag("gift.png")%></a>
			<div class="home-share-text">
				<a href="javascript:void(0);" onclick="gift.show();">Gift</a> 
			</div> 
	</div>
	
	<br class="clear"/>
</div>

<br class="clear"/>