<div id="terms_of_use" class="white_content">
  <div class="popup-siteActivation termsNcondition">
    <span class="popup-top">&nbsp;</span>
    <div class="popup-content">
      <div class="gradient-content" >
        <div class="popup-header-container margin-B-10px">
          <label class="popup-heading"><%=t ("employer_terms_of_use.header") %></label>
        </div>
        <div class="privacy-text-cont" style="color:#000066;">
          <div>
            <div class="tandcheader tandc-heading-align">Hilo <%=t ("employer_terms_of_use.user_agreement.title") %></div>
            <div class="tandctext tandc-text-align">(<%=t ("employer_terms_of_use.user_agreement.revised") %>, 2012)</div>
          </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.user_agreement.welcome") %> the Hilo Project! </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.user_agreement.title_contentL1") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.user_agreement.title_contentL2") %> </div>
          <div class="tandcheader"> <%=t ("employer_terms_of_use.general.title") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.general.title_contentL1") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.general.title_contentL2") %> </div>
          <div class="tandcheader"> <%=t ("employer_terms_of_use.proprietary_content.title") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.proprietary_content.title_contentL1") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.proprietary_content.title_contentL2") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.proprietary_content.title_contentL3") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.proprietary_content.title_contentL4") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.proprietary_content.title_contentL5") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.proprietary_content.title_contentL6") %> </div>
          <div class="tandcheader"> <%=t ("employer_terms_of_use.hilo_accounts.title") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.hilo_accounts.title_contentL1") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.hilo_accounts.title_contentL2") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.hilo_accounts.title_contentL3") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.hilo_accounts.title_contentL4") %> </div>
          <div class="tandcheader"> <%=t ("employer_terms_of_use.user_conduct.title") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.user_conduct.title_contentL1") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.user_conduct.title_contentL2") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.user_conduct.title_contentL3.title_contentL3Msg") %>: </div>
          <div class="tandctext">
            <div> 1) <%=t ("employer_terms_of_use.user_conduct.title_contentL3.title_contentL3of1") %> </div>
            <div> 2) <%=t ("employer_terms_of_use.user_conduct.title_contentL3.title_contentL3of2") %>  </div>
            <div> 3) <%=t ("employer_terms_of_use.user_conduct.title_contentL3.title_contentL3of3") %> </div>
            <div> 4) <%=t ("employer_terms_of_use.user_conduct.title_contentL3.title_contentL3of4") %> </div>
            <div> 5) <%=t ("employer_terms_of_use.user_conduct.title_contentL3.title_contentL3of5") %> </div>
            <div> 6) <%=t ("employer_terms_of_use.user_conduct.title_contentL3.title_contentL3of6") %> </div>
            <div> 7) <%=t ("employer_terms_of_use.user_conduct.title_contentL3.title_contentL3of7") %> </div>
            <div> 8) <%=t ("employer_terms_of_use.user_conduct.title_contentL3.title_contentL3of8") %> </div>
            <div> 9) <%=t ("employer_terms_of_use.user_conduct.title_contentL3.title_contentL3of9") %> </div>
            <div> 10) <%=t ("employer_terms_of_use.user_conduct.title_contentL3.title_contentL3of10") %> </div>
          </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.user_conduct.title_contentL4") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.user_conduct.title_contentL5") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.user_conduct.title_contentL6") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.user_conduct.title_contentL7") %> </div>
          <div class="tandcheader"> <%=t :employerTermsOfUseClaims %> </div>
          <div class="tandctext">
            <%=t :employerTermsOfUseClaimsMsg %>:
            <div> Hilo, Inc. </div>
            <div> <%=t :employerTermsOfUseClaimsAdd %> 122 </div>
            <div> Augusta, WV 26704 </div>
            <div> Attn: Hilo Copyright Claims </div>
            <div> Fax:866-338-1848 </div>
            <div> info@thehiloproject.com </div>
          </div>
          <div class="tandcheader"> <%=t ("employer_terms_of_use.privacy_policy.title") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.privacy_policy.title_contentL1") %> </div>
          <div class="tandcheader"> <%=t ("employer_terms_of_use.third_party_sites.title") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.third_party_sites.title_contentL1") %> </div>
          <div class="tandcheader"> <%=t ("employer_terms_of_use.disclaimer.title") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.disclaimer.title_contentL1") %> </div>
          <div class="tandcheader"> <%=t ("employer_terms_of_use.liability.title") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.liability.title_contentL1") %> </div>
          <div class="tandcheader"> <%=t ("employer_terms_of_use.indemnification.title") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.indemnification.title_contentL1") %> </div>
          <div class="tandcheader"> <%=t ("employer_terms_of_use.third_party_rights.title") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.third_party_rights.title_contentL1") %> </div>
          <div class="tandcheader"> <%=t ("employer_terms_of_use.miscellaneous.title") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.miscellaneous.title_contentL1") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.miscellaneous.title_contentL2") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.miscellaneous.title_contentL3") %> </div>
          <div class="tandcheader"> <%=t ("employer_terms_of_use.termination.title") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.termination.title_contentL1") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.termination.title_contentL2") %> </div>
          <div class="tandcheader"> <%=t ("employer_terms_of_use.acknowledgment.title") %> </div>
          <div class="tandctext"> <%=t ("employer_terms_of_use.acknowledgment.title_contentL1") %> </div>
        </div>
      </div>
      <a href="javascript:void(0)" class="close" onClick="hideTermsPopup();footerOnClosingPopup();">Close</a>
    </div>
    <span class="popup-bottom">&nbsp;</span>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.privacy-text-cont').slimscroll({
      railVisible: true,
      allowPageScroll: false,
      height: "400px"
    });
  });
</script>