<li class="li-img"><img border="0" src="/assets/csb-divider.png" /></li>
<li class="li-menutext margin-T-5px <% if section=="intro"%>active<%end%>" onclick="bridge_menu_handler('intro');bridge_stopVideos();"><span><%=t ("career_seeker_bridge.title") %></span></li>
<li class="li-img"><img border="0" src="/assets/csb-divider.png" /></li>
<li class="li-menutext <% if section=="cfg"%>active<%end%>" onclick="bridge_menu_handler('cfg');bridge_stopVideos();"><span><%=t ("career_seeker_bridge.title2") %> <%=t ("career_seeker_bridge.title3") %></span></li>
<li class="li-img"><img border="0" src="/assets/csb-divider.png" /></li>
<li class="li-menutext <% if section=="sample_position"%>active<%end%>" onclick="bridge_menu_handler('position-detail');bridge_stopVideos();"><span><%=t ("career_seeker_bridge.title2") %><br/> <%=t ("career_seeker_bridge.title4") %></span></li>
<li class="li-img"><img border="0" src="/assets/csb-divider.png" /></li>
<li class="li-menutext margin-T-5px <% if section=="pricing"%>active<%end%>" onclick="bridge_menu_handler('pricing');bridge_stopVideos();"><span><%=t ("career_seeker_bridge.title5") %></span></li>
<li class="li-img"><img border="0" src="/assets/csb-divider.png" /></li>