<!-- Forgot Password Popup -->
<div id="forgot_password" class="white_content" style="position: fixed;">
  <div class="popup-upper-block-fogetPwd">
    <span class="popup-top">&nbsp;</span>
    <div class="popup-content">
      <div class="gradient-content">
        <div class="popup-header-container">
          <label class="popup-heading"><%=t("forgot_password.popup-heading")%></label>
        </div>
        <div class="access-block">
          <div class="lfloat normal-text width-178px <%=I18n.locale%>">
            <label class="free-text"><%=t("forgot_password.free-text")%></label>
          </div>
          <div class="lfloat margin-T-5px form-container <%=I18n.locale%>" style="#width:356px; zoom:1;">
            <%= form_for :email_id, :remote => true , :url => { :controller => :forgot_pwd,:action => :index}, :html => {:id =>"forgot_pswd_form", :method => :post} do |f| %>
              <div class="fp-input-cnt <%=I18n.locale%>">
                <div class="customized-input input-text">
                  <div class="input-left">&nbsp;</div>
                  <input type="hidden" id="email_id_email_placeholder" value="<%=t("forgot_password.email")%>" />
                  <%=f.text_field :email, :name=>"forgot_email", :onfocus => "focus_element(this)", :onblur =>"blur_element(this);validateForgotPassEmail(this);", :onkeyup => "validateForgotPassEmail(this);", :value => t("forgot_password.email"), :onkeydown=>"type_element(this)"%>
                  <div class="input-right">&nbsp;</div>
                </div>
              </div>
              <input type="button" id="submit_button" class="enter-button-active <%=I18n.locale%>" />
  <%#=submit_tag('',:class=>"enter-button",:id=>"submit_button", :disabled=>"true")%>
              <span id="loader_img2" style="display:none; position:absolute; right:55px;"><%=image_tag("ajax-loader-login.gif")%></span>
            <% end %>
          </div>
        </div>
      </div>

      <div class="home-popup-contnet">

      </div>
      <a href="javascript:void(0)" class="close" onClick="hideForgotPassword();" >Close</a>
    </div>
    <span class="popup-bottom">&nbsp;</span>
  </div>
</div>
<!-- /Forgot Password Popup -->

<!-- Forgot Password Error Popup -->
<div id="forgot_password_error" class="white_content" style="position: fixed;">
  <div class="popup-upper-block-fogetPwd">
    <span class="popup-top">&nbsp;</span>
    <div class="popup-content">
      <div class="gradient-content">
        <div class="popup-header-container">
          <label class="popup-heading"><%=t("forgot_password_error.popup-heading")%></label>
        </div>
        <div class="access-block">
          <div class="lfloat error-text">
            <label class="free-text"><%=t("forgot_password_error.free-text")%></label>
          </div>
          <div class="rfloat margin-T-5px">
            <input id="forgot_password_error_button" type="button" class="retry-button-active <%=I18n.locale%>" onclick="setTimeout(function(){hideForgotPasswordError();showForgotPassword();},200)" />
          </div>
        </div>
      </div>

      <div class="home-popup-contnet">

      </div>
      <a href="javascript:void(0)" class="close" onClick="hideForgotPasswordError();">Close</a>
    </div>
    <span class="popup-bottom">&nbsp;</span>
  </div>
</div>
<!-- /Forgot Password Error Popup -->

<!-- Forgot Password Success Popup -->
<div id="forgot_password_success" class="white_content" style="position: fixed;">
  <div class="popup-upper-block-fogetPwd">
    <span class="popup-top">&nbsp;</span>
    <div class="popup-content">
      <div class="gradient-content">
        <div class="popup-header-container">
          <label class="popup-heading"><%=t("forgot_password_success.popup-heading")%></label>
        </div>
        <div class="access-block">
          <div class="lfloat error-text">
            <label class="free-text"><%=t("forgot_password_success.free-text")%></label>
          </div>
          <div class="rfloat margin-T-5px">
            <input id="forgot_password_success_button" type="button" class="enter-button-active <%=I18n.locale%>" onclick="hideForgotPasswordSuccess();" />
          </div>
        </div>
      </div>

      <div class="home-popup-contnet">

      </div>
      <a href="javascript:void(0)" class="close" onClick="hideForgotPasswordSuccess();">Close</a>
    </div>
    <span class="popup-bottom">&nbsp;</span>
  </div>
</div>
<!-- /Forgot Password Error Popup -->
