<div id="job_not_active" class="white_content" style="position: fixed;">
  <div class="popup-upper-block-fogetPwd">
    <span class="popup-top">&nbsp;</span>
    <div class="popup-content">
      <div class="gradient-content">
        <div class="popup-header-container">
          <label class="popup-heading"><%= t('job_not_active.heading') %></label>
        </div>
        <div class="access-block">
          <div class="lfloat error-text">
            <label class="free-text"><%= t('job_not_active.free_text') %></label>
          </div>
          <div class="rfloat" style="margin-top: 10px;">
            <input type="button" id="job_not_active_button" class="ok-button-active" onClick="hideErrorShadow(); $('#job_not_active').hide(); $('.home-footer label').addClass('year'); $('.home-footer label').removeClass('bridge');"/>
          </div>
        </div>
      </div>

      <div class="home-popup-contnet">

      </div>
      <a href="javascript:void(0)" class="close" onClick="hideErrorShadow(); $('#job_not_active').hide(); $('.home-footer label').addClass('year'); $('.home-footer label').removeClass('bridge');">Close</a>
    </div>
    <span class="popup-bottom">&nbsp;</span>
  </div>
</div>
<div id="company_not_active" class="white_content" style="position: fixed;">
  <div class="popup-upper-block-fogetPwd">
    <span class="popup-top">&nbsp;</span>
    <div class="popup-content">
      <div class="gradient-content">
        <div class="popup-header-container">
          <label class="popup-heading"><%= t('company_not_active.heading') %></label>
        </div>
        <div class="access-block">
          <div class="lfloat error-text">
            <label class="free-text"><%= t('company_not_active.free_text') %></label>
          </div>
          <div class="rfloat" style="margin-top: 10px;">
            <input type="button" id="company_not_active_button" class="ok-button-active" onClick="hideErrorShadow(); $('#company_not_active').hide();"/>
          </div>
        </div>
      </div>

      <div class="home-popup-contnet">

      </div>
      <a href="javascript:void(0)" class="close" onClick="hideErrorShadow(); $('#company_not_active').hide();">Close</a>
    </div>
    <span class="popup-bottom">&nbsp;</span>
  </div>
</div>
<div id="email_not_exist" class="white_content" style="position: fixed;">
  <div class="popup-upper-block-fogetPwd">
    <span class="popup-top">&nbsp;</span>
    <div class="popup-content">
      <div class="gradient-content">
        <div class="popup-header-container">
          <label class="popup-heading"><%= t('email_not_exist.heading') %></label>
        </div>
        <div class="access-block">
          <div class="lfloat error-text">
            <label class="free-text"><%= t('email_not_exist.free_text') %></label>
          </div>
          <div class="rfloat" style="margin-top: 10px;">
            <input type="button" id="email_not_exist_button" class="ok-button-active" onClick="hideErrorShadow(); $('#email_not_exist').hide();"/>
          </div>
        </div>
      </div>

      <div class="home-popup-contnet">

      </div>
      <a href="javascript:void(0);" class="close" onClick="hideErrorShadow(); $('#email_not_exist').hide();">Close</a>
    </div>
    <span class="popup-bottom">&nbsp;</span>
  </div>
</div>
<div id="user_suspended" class="white_content" style="position: fixed;">
  <div class="popup-upper-block-fogetPwd">
    <span class="popup-top">&nbsp;</span>
    <div class="popup-content">
      <div class="gradient-content">
        <div class="popup-header-container">
          <label class="popup-heading"><%= t('user_suspended.heading') %></label>
        </div>
        <div class="access-block">
          <div class="lfloat error-text" style="width: 265px;">
            <label class="free-text"><%= t('user_suspended.free_text') %></label>
          </div>
          <div class="rfloat" style="margin-top: 10px;">
            <input type="button" id="user_suspended_button" class="ok-button-active" onClick="hideErrorShadow(); $('#user_suspended').hide();$('.footer-links .hilo').removeClass('white');"/>
          </div>
        </div>
      </div>

      <div class="home-popup-contnet">

      </div>
      <a href="javascript:void(0)" class="close" onClick="hideErrorShadow(); $('#user_suspended').hide();$('#user_deleted').hide();$('.footer-links .hilo').removeClass('white');">Close</a>
    </div>
    <span class="popup-bottom">&nbsp;</span>
  </div>
</div>
<div id="user_deleted" class="white_content" style="position: fixed;">
  <div class="popup-upper-block-fogetPwd">
    <span class="popup-top">&nbsp;</span>
    <div class="popup-content">
      <div class="gradient-content">
        <div class="popup-header-container">
          <label class="popup-heading"><%= t('user_deleted.heading') %></label>
        </div>
        <div class="access-block">
          <div class="lfloat error-text" style="width: 265px;">
            <label class="free-text"><%= t('user_deleted.free_text') %></label>
          </div>
          <div class="rfloat" style="margin-top: 10px;">
            <input type="button" id="user_deleted_button" class="ok-button-active" onClick="hideErrorShadow(); $('#user_deleted').hide();$('.footer-links .hilo').removeClass('white');"/>
          </div>
        </div>
      </div>

      <div class="home-popup-contnet">

      </div>
      <a href="javascript:void(0)" class="close" onClick="hideErrorShadow(); $('#user_deleted').hide();$('#user_deleted').hide();$('.footer-links .hilo').removeClass('white');">Close</a>
    </div>
    <span class="popup-bottom">&nbsp;</span>
  </div>
</div>
<div id="xref_candidate" class="white_content" style="position: fixed;">
  <div class="popup-upper-block-fogetPwd">
    <span class="popup-top">&nbsp;</span>
    <div class="popup-content">
      <div class="gradient-content">
        <div class="popup-header-container">
          <label class="popup-heading"><%= t('xref_candidate.heading') %></label>
        </div>
        <div class="access-block">
          <div class="lfloat error-text" style="width: 265px;">
            <label class="free-text"><%= t('xref_candidate.free_text') %></label>
          </div>
          <div class="rfloat" style="margin-top: 10px;">
            <input type="button" id="xref_candidate_button" class="continue-button-active" onClick="hideNormalShadow(); $('#xref_candidate').hide();$('.footer-links .hilo').removeClass('white');openLoginBox();"/>
          </div>
        </div>
      </div>

      <div class="home-popup-contnet">

      </div>
      <a href="javascript:void(0)" class="close" onClick="hideNormalShadow(); $('#xref_candidate').hide();$('#xref_candidate').hide();$('.footer-links .hilo').removeClass('white');">Close</a>
    </div>
    <span class="popup-bottom">&nbsp;</span>
  </div>
</div>
