<div class="login-container-content">
  <ul>
    <li>
      <div class="customized-input input-text">
        <div class="input-left">&nbsp;</div>
        <input type="hidden" id="login_name_placeholder" value="<%=t("sign-in-box.email")%>" />
        <input type="text" name="login_name" id="login_name" value="<%=t("sign-in-box.email")%>" tabindex="2" onFocus="focus_element(this)" onBlur="blur_element(this)" onkeyup="activate_login_form(this,event)" onkeydown="type_element(this)" tabindex="1" autocomplete="off"/>
        <div class="input-right">&nbsp;</div>
      </div>
    </li>
    <li>
      <div class="customized-input input-text">
        <div class="input-left">&nbsp;</div>
        <input type="hidden" id="login_pass_placeholder" value="<%=t("sign-in-box.password")%>" />
        <input type="text" name="login_pass" id="login_pass" value="<%=t("sign-in-box.password")%>" tabindex="3" class="password" onFocus="focus_element(this)" onBlur="blur_element(this)" onkeyup="activate_login_form(this,event);" onkeypress="type_element(this,event);" tabindex="2" />
        <div class="input-right">&nbsp;</div>
      </div>
    </li>
    <li style="height: 50px;">
      <span id="loader-img" style="display:none; padding-right: 8px; padding-top: 8px;" class="rfloat"><%=image_tag("ajax-loader-login-light-grey.gif", :alt => "Loading ...")%></span>
      <input type="button"  value="" id="login_form_submit" class="enter-button-active <%=I18n.locale%> rfloat" />
      <%  if controller.class.to_s.split("::").first!="Admin" %>
      <a href="javascript:showForgotPassword();" id="forgot_pass" class="forget-password" title="<%=t("sign-in-box.forgot_password")%>" tabindex="5"><%=t("sign-in-box.forgot_password")%></a>
      <% end %>
    </li>
  </ul>
</div>