<!-- Forgot password popup to RESET password -->
<div id="forgot-password-reset" class="white_content">
  <div class="popup-upper-block-questionnaire">
    <span class="popup-top">&nbsp;</span>
    <div class="popup-content">
      <div class="gradient-content">
        <div class="popup-header-container">
          <label class="popup-heading">CHANGE PASSWORD</label>
          <div class="fgt-error-message-container" id="error_msg" style="color:red; width:160px; float:left;"></div>
        </div>
        <%= form_tag("/forgot_pwd/change_password", :id=>"reset_password_form", :remote => true ) do %>
          <div class="left-content">           
            <ul class="berkman-login-list">              
              <li>
                <input type="hidden" name="id" value="<%= params[:forgot_pass] %>" />
                <div class="customized-input input-text text-new-password">
                  <div class="input-left">&nbsp;</div>
                  <input type="hidden" id="new_password_placeholder" value="New Password" />
                  <input type="text" value="New Password" onfocus="focus_element(this);activateForgotPassword(this);" class="password" onblur="activateForgotPassword(this);blur_element(this);" onkeypress="type_element(this,event);" name="new_password" id="new_password" value="<%=params[:new_password] %>" onkeyup="checkForgotPasswordActivation()" />
                  <div class="input-right">&nbsp;</div>
                </div>
              </li>
              <li>
                <div class="customized-input input-text text-cnf-passowrd">
                  <div class="input-left">&nbsp;</div>
                  <input type="hidden" id="confirm_password_placeholder" value="Conform New Password" />
                  <input type="text" value="Confirm New Password" onfocus="focus_element(this);activateForgotPassword(this);" class="password" onblur="activateForgotPassword(this);blur_element(this);" onkeypress="type_element(this,event);" name="confirm_password" id="confirm_password" value="<%= params[:confirm_password] %>" onkeyup="checkForgotPasswordActivation()" />
                  <div class="input-right">&nbsp;</div>
                </div>
              </li>
            </ul>
          </div>
          <!--right-content-->
          <div class="right-content">
            <div class="button-container" id="button1">
              <span id="loader_img_forgot_pass" style="display:none; position:absolute; right:55px; top:100px;"><%= image_tag("ajax-loader-login.gif", :alt => "Loading ...")%></span>
              <input type="button" value="" id="submit_button_forgot_pass" class="update-button" onclick="submit_button_form();"/>
            </div>
          </div>
        <% end -%>
      </div>
      <a href="javascript:void(0)" class="close" onClick="hideForgotPasswordResetWindow();">Close</a>
    </div>
    <span class="popup-bottom">&nbsp;</span>
  </div>
</div>

<!-- Forgot Password Reset Success Popup -->
<div id="forgot_password_reset_success" class="white_content">
  <div class="popup-upper-block-fogetPwd">
    <span class="popup-top">&nbsp;</span>
    <div class="popup-content">
      <div class="gradient-content">
        <div class="popup-header-container">
          <label class="popup-heading">SUCCESS!</label>
        </div>
        <div class="access-block">
          <div class="lfloat error-text">
            <label class="free-text">Password has been changed successfully. Please login to continue.</label>
          </div>
          <div class="rfloat margin-T-5px">
            <input id="forgot_password_reset_success_button" type="button" class="enter-button-active" onclick="hidePasswordSuccessWindow();" />
          </div>
        </div>
      </div>

      <div class="home-popup-contnet">

      </div>
      <a href="javascript:void(0)" class="close" onClick="hidePasswordSuccessWindow();">Close</a>
    </div>
    <span class="popup-bottom">&nbsp;</span>
  </div>
</div>
<!-- /Forgot Password Error Popup -->

<!-- Forgot Password Error Popup -->
<div id="forgot_password_reset_error" class="white_content">
  <div class="popup-upper-block-fogetPwd">
    <span class="popup-top">&nbsp;</span>
    <div class="popup-content">
      <div class="gradient-content">
        <div class="popup-header-container">
          <label class="popup-heading">OOPS!</label>
        </div>
        <div class="access-block">
          <div class="lfloat error-text">
            <label class="free-text">Invalid code. Please try again.</label>
          </div>
          <div class="rfloat margin-T-5px">
            <input id="forgot_password_reset_error_button" type="button" class="retry-button-active" onclick="hideForgotPasswordResetError();showForgotPasswordRetryWindow();" />
          </div>
        </div>
      </div>

      <div class="home-popup-contnet">

      </div>
      <a href="javascript:void(0)" class="close" onClick="hideForgotPasswordResetError();">Close</a>
    </div>
    <span class="popup-bottom">&nbsp;</span>
  </div>
</div>
<!-- /Forgot Password Error Popup -->

<script type="text/javascript">
  jQuery(function($) {
    // create a convenient toggleLoading function
    var loading_reset_password = function(){
        $('#submit_button_forgot_pass').hide();
        $('#loader_img_forgot_pass').show();
    }
    var loaded_reset_password = function(){
        $('#submit_button_forgot_pass').show();
        $('#loader_img_forgot_pass').hide();
    }
    $("#one_click_form")
    .bind("ajax:beforeSend", loading_reset_password)
    .bind("ajax:complete", loaded_reset_password)
  });

  function submit_button_form(){
    flag = 1;
    var new_password = document.getElementById('new_password');
    var confirm_password = document.getElementById('confirm_password');
    if(!validateNotEmpty(new_password)){
        $("#"+new_password.id).parent().removeClass("input-text input-text-active active-input input-text-error");
        $("#"+new_password.id).parent().addClass("input-text-error-empty");
        flag = 0;
    }

    if(!validateNotEmpty(confirm_password)){
        $("#"+confirm_password.id).parent().removeClass("input-text input-text-active active-input input-text-error");
        $("#"+confirm_password.id).parent().addClass("input-text-error-empty");
        flag = 0;
    }
    if (flag == 0){
      return
    }
    if (checkForgotPasswordActivation()){
      $("#reset_password_form").submit();
    }
    else{
      $("#"+new_password.id).parent().removeClass("input-text input-text-active active-input input-text-error input-text-error-empty");
      $("#"+new_password.id).parent().addClass("input-text-error");
      $("#"+confirm_password.id).parent().removeClass("input-text input-text-active active-input input-text-error input-text-error-empty");
      $("#"+confirm_password.id).parent().addClass("input-text-error");
    }
  }
</script>