<%=render :partial=>"/shared/top_line_cap" -%>
<div class="forgot-pwd-box">
	<div class="forgot-pwd-content">
		<div class="account-box">
			<%=render :partial=>"/account/panels/account_top_cover" -%>
			<div class="fpwd-box-inner">
				<%=  form_tag("/forgot_pwd/change_password",:method =>"post") do -%>
					<div class="forgot-pwd-label">Change Password</div>
					
					<div class="height10"></div>
					<div class="separator"></div>
					<div class="height10"></div>
					<div class="height10"></div>
					<div class="height10"></div>
					<div class="fpwd-label">
						New Password:	
						<input type="hidden" name="id" value="<%=params[:id]%>" />
					</div>

					<div class="fpwd-field">
					  <input type="password" name="new_password" class="input-field-style fpwd-input-field" value="<%=params[:new_password] %>"/>
					</div>
					<br class="clear"/>

					<div class="height10"></div>

					<div class="fpwd-label">
						Confirm Password:	
					</div>

					<div class="fpwd-field">
					  <input type="password" name="confirm_password" class="input-field-style fpwd-input-field" value="<%=params[:confirm_password] %>"/>
					</div>
					<br class="clear"/>

					<div class="height10"></div>

					
					<div class="fpwd-label">
						&nbsp;
					</div>

					<div class="fpwd-field">
					  <input type="submit" value="Submit" class="button-style-shared buttton_65X23" />
					</div>
					<br class="clear"/>
				<%end -%>
			</div>
			<%=render :partial=>"/account/panels/account_bottom_cover" -%>
		</div>

	</div>

</div>


<script type="text/javascript">
	$(document).ready(function(){
		<%if not @error_json.blank?%>
			msg_box.show_error("<%=@error_json%>","Message");
		<%end%>
	});
</script>

