<li>
  <div class="customized-input input-text">
    <div class="input-left">&nbsp;</div>
    <input type="hidden" id="old_password_placeholder" value="<%=t ("employer_account.account_information.old_password") %>" />
    <input type="text" maxlength="30" id="old_password" name="old_password" value="<%=t ("employer_account.account_information.old_password") %>" class="password" onfocus="focus_element(this);" onblur="blur_element(this);" onkeypress="type_element(this,event);" onkeyup="checkActivationAccountInfoOnKey();submitAccountFormonEnterButton(event);" />
    <div class="input-right">&nbsp;</div>
  </div>
</li>
<li>
  <div class="half first">
    <div class="customized-input input-text">
      <div class="input-left">&nbsp;</div>
      <input type="hidden" id="new_password_placeholder" value="<%=t ("employer_account.account_information.new_password") %>" />
      <input type="text" maxlength="30" id="new_password" name="new_password" value="<%=t ("employer_account.account_information.new_password") %>" class="password" onfocus="focus_element(this);accInfoValidate(this);" onblur="accInfoValidate(this);blur_element(this);" onkeypress="type_element(this,event);" onkeyup="checkActivationAccountInfoOnKey();submitAccountFormonEnterButton(event);" />
      <div class="input-right">&nbsp;</div>
    </div>
  </div>
  <div class="half">
    <div class="customized-input input-text">
      <div class="input-left">&nbsp;</div>
      <input type="hidden" id="confirm_password_placeholder" value="<%=t ("employer_account.account_information.confirm_password") %>" />
      <input type="text" maxlength="30" id="confirm_password" name="confirm_password" value="<%=t ("employer_account.account_information.confirm_password") %>" class="password" onfocus="focus_element(this);accInfoValidate(this);" onblur="accInfoValidate(this);blur_element(this);" onkeypress="type_element(this,event);" onkeyup="checkActivationAccountInfoOnKey();submitAccountFormonEnterButton(event);" />
      <div class="input-right">&nbsp;</div>
    </div>
  </div>
</li>