<div class="one_click_payment_position_white_content" id="one_click_not_set" style="display:none; position: fixed;">
  <div class="dashboard_position_popup-siteActivation">
    <span class="position_popup-top">&nbsp;</span>
    <div class="position_popup-content_oneclick">
      <div class="position_gradient-content_oneclick">
        <div class="position_popup-header-container">
          <label class="popup-heading"><%=t ("one_click_not_set_popup.title") %></label>
        </div>

        <div class="position_popup_select_box">
          <div class="access-block">
            <div class="lfloat error-text" style="width: 53%;">
              <label class="free-text"><%=t ("one_click_not_set_popup.content") %> "<%= session[:employer].root.first_name %> <%= session[:employer].root.last_name %>"</label>
            </div>
            <div class="rfloat" id="action-button" style="margin-left:0px; margin-top: 9px;">
              <input type="button" id="one_click_not_set_button" class="ok-button-active" onclick="$('#one_click_not_set').hide(); $('#fade_error').hide();"/>
            </div>
          </div>
        </div>
      </div>
      <a href="javascript:void(0)" class="position_close_oneclick" onclick="$('#one_click_not_set').hide(); $('#fade_error').hide();"><%=t ("one_click_not_set_popup.close") %></a>
    </div>
    <span class="position_popup-bottom">&nbsp;</span>
  </div>
</div>