<div class="content">
  <div class="user-rows tab2" id="user-rows-1">
    <div class="user-box folder-list open">
      <div class="top">
        <span class="user-name"><%=t ("user_admin.position_reassign.sample_tab.sample_user_1") %></span>
        <input type="hidden" class="selected-user" value=""/>
      </div>
      <div class="slide" style="display: block;">
        <div class="middle">
          <span class="plus"><%=t ("user_admin.position_reassign.sample_tab.folder") %></span>
        </div>
        <div class="bottom"></div>
      </div>
    </div>
    <div class="folder-box close"><!-- Use class [open] or [close] -->
      <div class="top">
        <span class="user-name"><%=t ("user_admin.position_reassign.sample_tab.folder_name") %></span>
      </div>
      <div class="slide"></div>
    </div>
    <div class="folder-box open"><!-- Use class [open] or [close] -->
      <div class="top">
        <span class="user-name"><%=t ("user_admin.position_reassign.sample_tab.folder_name") %></span>
      </div>
      <div class="slide" style="display: block;">
        <div class="middle">
          <ul>
            <li class="red"><%=t ("user_admin.position_reassign.sample_tab.position_id") %></li>
            <li class="green"><%=t ("user_admin.position_reassign.sample_tab.position_id") %></li>
            <li class="green"><%=t ("user_admin.position_reassign.sample_tab.position_id") %></li>
            <li class="green"><%=t ("user_admin.position_reassign.sample_tab.position_id") %></li>
          </ul>
        </div>
        <div class="bottom"></div>
      </div>
    </div>
  </div>
  <div class="user-rows tab2" id="user-rows-2">
    <div class="user-box folder-list open">
      <div class="top">
        <span class="user-name"><%=t ("user_admin.position_reassign.sample_tab.sample_user_2") %></span>
        <input type="hidden" value=""/>
      </div>
      <div class="slide" style="display: block;">
        <div class="middle">
          <span class="plus"><%=t ("user_admin.position_reassign.sample_tab.folder") %></span>
        </div>
        <div class="bottom"></div>
      </div>
    </div>
    <div class="folder-box close"><!-- Use class [open] or [close] -->
      <div class="top">
        <span class="user-name"><%=t ("user_admin.position_reassign.sample_tab.folder_name") %></span>
      </div>
      <div class="slide"></div>
    </div>
    <div class="folder-box close"><!-- Use class [open] or [close] -->
      <div class="top">
        <span class="user-name"><%=t ("user_admin.position_reassign.sample_tab.folder_name") %></span>
      </div>
      <div class="slide"></div>
    </div>
  </div>
  <div class="user-rows tab2" id="user-rows-3">
    <div class="user-box folder-list open">
      <div class="top">
        <span class="user-name"><%=t ("user_admin.position_reassign.sample_tab.sample_user_3") %></span>
        <input type="hidden" value=""/>
      </div>
      <div class="slide" style="display: block;">
        <div class="middle">
          <span class="plus"><%=t ("user_admin.position_reassign.sample_tab.folder") %></span>
        </div>
        <div class="bottom"></div>
      </div>
    </div>
    <div class="folder-box close"><!-- Use class [open] or [close] -->
      <div class="top">
        <span class="user-name"><%=t ("user_admin.position_reassign.sample_tab.folder_name") %></span>
      </div>
      <div class="slide"></div>
    </div>
    <div class="folder-box close"><!-- Use class [open] or [close] -->
      <div class="top">
        <span class="user-name"><%=t ("user_admin.position_reassign.sample_tab.folder_name") %></span>
      </div>
      <div class="slide"></div>
    </div>
    <div class="folder-box close"><!-- Use class [open] or [close] -->
      <div class="top">
        <span class="user-name"><%=t ("user_admin.position_reassign.sample_tab.folder_name") %></span>
      </div>
      <div class="slide"></div>
    </div>
  </div>
</div>