<div class="sample-data"></div>
<div class="sample-data-message">
  <%=t ("user_admin.position_reassign.sample_data_messageL1") %><br />
  <%=t ("user_admin.position_reassign.sample_data_messageL2") %>
  <a href="mailto:feedback@thehiloproject.com?Subject=Upgrade%20To%20Corporate%20Account%20Request%20via%20HILO&Body=I%20would%20like%20to%20upgrade%20to%20a%20Corporate%20Account.%20My%20Account%20Details%20are%3A%0A%0AName%3A%20'<%=session[:employer].first_name%>'%20'<%=session[:employer].last_name%>'%0AEmail%3A%20'<%=session[:employer].email%>'%0ACompany%3A%20'<%=session[:employer].company.name%>'">Contact Us</a>.
</div>