<ul class="menu">
  <li><a href="http://blog.thehiloproject.com/videos" title="<%=t('emp_search_non_loggedin.header.videos')%>" target="_blank"><%=t("emp_search_non_loggedin.header.videos")%></a></li>
  <li class="seperator">&nbsp;</li>
  <li><a href="http://blog.thehiloproject.com" title="<%=t('emp_search_non_loggedin.header.blog')%>" target="_blank"><%=t("emp_search_non_loggedin.header.blog")%></a></li>
  <li class="seperator">&nbsp;</li>
  <li><a href="http://blog.thehiloproject.com/about" title="<%=t('emp_search_non_loggedin.header.about')%>" target="_blank"><%=t("emp_search_non_loggedin.header.about")%></a></li>
</ul>