<div class="page-heading-container-change">
  <label class="heading"><%= t('account.account_info.change_password.heading') %></label>
</div>

<label class="intro-error" id="error_msg" style="color:#D71F0C; float:left;margin-top: -19px;font-size: 13px;font-weight: 700;"></label>

<div class="pass-success-message-container" id="success_msg" style="color:green; float:left;margin-top: -19px; font-size: 13px;font-weight: 700;"></div>
<%= form_tag("/account/change_account_pass", :id=>"change_password_form", :remote => true)  do %>
  <ul class="pwd-personal-info">
    <li class="email-text">
      <div class="customized-input input-text">
        <div class="input-left">&nbsp;</div>
        <input type="hidden" id="old_password_placeholder" value="<%= t('account.account_info.change_password.old_password') %>" />
        <input class="text-long password" type="text" maxlength="30" value="<%= t('account.account_info.change_password.old_password') %>" onfocus="$('#success_msg').html(''); focus_element(this);" onblur="blur_element(this);" onkeypress="type_element(this,event);" name="old_password" id="old_password" onkeyup="checkChangePasswordActivation();enterButtonResetPassword(event);" />
        <div class="input-right">&nbsp;</div>
      </div>
    </li>
    <li>
      <div class="customized-input input-text">
        <div class="input-left">&nbsp;</div>
        <input type="hidden" id="new_password_placeholder" value="<%= t('account.account_info.change_password.new_password') %>" />
        <input class="text-short password" type="text" maxlength="30" value="<%= t('account.account_info.change_password.new_password') %>" onfocus="$('#success_msg').html(''); focus_element(this);activateChangePassword(this);" onblur="activateChangePassword(this);blur_element(this);" onkeypress="type_element(this,event);" name="new_password" id="new_password" onkeyup="checkChangePasswordActivation();enterButtonResetPassword(event);"/>
        <div class="input-right">&nbsp;</div>
      </div>
    </li>
    <li>
      <div class="customized-input input-text">
        <div class="input-left">&nbsp;</div>
        <input type="hidden" id="confirm_password_placeholder" value="<%= t('account.account_info.change_password.confirm_new_password') %>" />
        <input class="text-short-right password" type="text" maxlength="30" value="<%= t('account.account_info.change_password.confirm_new_password') %>" onfocus="$('#success_msg').html(''); focus_element(this);activateChangePassword(this);" onblur="activateChangePassword(this);blur_element(this);" onkeypress="type_element(this,event);" name="confirm_password" id="confirm_password" onkeyup="checkChangePasswordActivation();enterButtonResetPassword(event);"/>
        <div class="input-right">&nbsp;</div>
      </div>
    </li>
  </ul>
  <div class="input-right">
    <input type="hidden" id="lock" value="" />
    <input class="update-button-active rfloat" type="button" value="" id="update2" />
    <span id="loader_password" style="display:none; right:10px; position:absolute;"><%= image_tag("ajax-loader-login.gif", :alt => "Loading ...")%></span>
  </div>
<% end %>

<script type="text/javascript">
    
  $(document).ready(function(){
		
    $("#update2").unbind().click(function(){
      $("#success_msg").html("");
      password = document.getElementById('new_password');
      rePassword = document.getElementById('confirm_password');
      old_password = document.getElementById('old_password');
      errorBox = document.getElementById('error_msg');
                    
      if(!validateNotEmpty(old_password)) {
        $("#"+old_password.id).parent().removeClass("input-text input-text-active active-input input-text-error");
        $("#"+old_password.id).parent().addClass("input-text-error-empty");
        errorBox.innerHTML="Please complete the areas highlighted in red.";
      }
      if(!validateNotEmpty(rePassword)) {
        $("#"+rePassword.id).parent().removeClass("input-text input-text-active active-input input-text-error");
        $("#"+rePassword.id).parent().addClass("input-text-error-empty");
        errorBox.innerHTML="Please complete the areas highlighted in red.";
      }
      if(!validateNotEmpty(password)) {
        $("#"+password.id).parent().removeClass("input-text input-text-active active-input input-text-error");
        $("#"+password.id).parent().addClass("input-text-error-empty");
        errorBox.innerHTML="Please complete the areas highlighted in red.";
      }
                    
    });
                
    BrowserDetect.init();
		
    if ( BrowserDetect.browser == "Explorer" )
    {
      //wiring to onkeydown event
      //alert("IE");
      document.getElementById('old_password').attachEvent('onkeydown', function(e){
        editorEvents(document.getElementById('old_password'), e);
      });
                      
      document.getElementById('new_password').attachEvent('onkeydown', function(e){
        editorEvents(document.getElementById('new_password'), e);
      });
                      
      document.getElementById('confirm_password').attachEvent('onkeydown', function(e){
        editorEvents(document.getElementById('confirm_password'), e);
      });
		      
    }
		    
    else if ( BrowserDetect.browser == "Chrome" || BrowserDetect.browser == "Safari" ){
		      
      document.getElementById('old_password').addEventListener('keydown', function(e){
        editorEvents(document.getElementById('old_password'), e);
      }, false);
                      
      document.getElementById('new_password').addEventListener('keydown', function(e){
        editorEvents(document.getElementById('new_password'), e);
      }, false);
                      
      document.getElementById('confirm_password').addEventListener('keydown', function(e){
        editorEvents(document.getElementById('confirm_password'), e);
      }, false);
		      
    }
  });
    
</script>