<div>
			<div class="dc-section-header">
				<div class="dc-section-header-text">Credentials</div>
			</div>
		</div>

		<div class="dc-content-bg">
			<div class="dc-content-cred-left">
					Educational Level 
			</div>
			<div class="dc-content-cred-center">
			:
			</div>

			<div class="dc-content-cred-right">
				<%=h(job_seeker.degrees[0].name) if !job_seeker.degrees.blank? and !job_seeker.degrees[0].blank?%>
			</div>
			<div class="clear-height">&nbsp;</div>
			
			<div class="dc-responsibility-separator"></div>

			<div class="dc-content-cred-left">
				Work Experience(Years)
			</div>
			<div class="dc-content-cred-center">
				:
			</div>

			<div class="dc-content-cred-right">
				<%=h(job_seeker.work_exp_value) -%>
			</div>
			<div class="clear-height">&nbsp;</div>
			
			<div class="dc-responsibility-separator"></div>

			<div class="dc-content-cred-left">
					Language Skills
			</div>

			<div class="dc-content-cred-center">
				:
			</div>

			<div class="dc-content-cred-right">
				<%for item in job_seeker.languages%>
					<div>
						<%=h(item.name) -%> 
					</div>
				<%end%>
					
			</div>
			<div class="clear-height"></div>
			
			<div class="dc-responsibility-separator"></div>

			<div class="dc-content-cred-left">
				Top Proficiencies
			</div>
			<div class="dc-content-cred-center">
				:
			</div>

			<div class="dc-content-cred-right">
				<%
					cnt = 0
					for item in job_seeker.proficiencies
				%>
				<div>
					<%=(cnt + 1)%>. <%=h(item.name) -%>
				</div>
				<%
					cnt = cnt + 1
					end 
				-%>
			</div>
			<div class="clear-height"></div>

		</div>