<!-- status popup -->
<div class="status-details">
  <div class="status-light-top">&nbsp;</div>
  <div class="status-light-content">
    <div class="gradient-content">
      <ul>
        <li><label class="details-heading"><%= t('status_details.heading') %></label></li>
        <li>
          <%= image_tag("yellow-bullet-big.png", :size => "30x29", :alt=>"Yellow") %>
          <p class="status-light-content-paragraph"><%= t('status_details.free_text1') %><br /> <strong><%= t('status_details.free_text2') %></strong> <%= t('status_details.free_text3') %></p>
        </li>
        <li>
          <%= image_tag("green-bullet-big.png", :size => "30x29", :alt=>"Green") %>
          <p class="status-light-content-paragraph"><%= t('status_details.free_text4') %> <br /><strong><%= t('status_details.free_text5') %></strong> <%= t('status_details.free_text6') %></p>
        </li>
        <li class="status-light-bott padding-T-0px padding-B-2px">&nbsp;</li>
      </ul>
    </div>
  </div>
  <div class="status-light-bottom">&nbsp;</div>
</div>
<!-- status popup -->