<input type="hidden" name="tab-3_hasThisFormBeenEdited" id="tab-3_hasThisFormBeenEdited" value="0" />
<div class="blocks" id="skill-cnt">
  <h4><%=t ("position_profile.credentials.roles.title") %></h4>
  <!--discription-->
  <div class="discription">
    <div class="top"></div>
    <!--content-->
    <div class="content">
      <span class="innerHeading">
        <%=t ("position_profile.credentials.roles.unranked") %> <br/><%=t ("position_profile.credentials.roles.content") %>
      </span>
      <%= hidden_field_tag 'populate_role_field' %>

      <div class="clear-float"></div>
      
      <!--Roles Start-->
      <div class="emp_roles_section">
        <ul>
          <li>
            <div style="" id="add-edit-skill" class="add-edit-skill">
              <%= render :partial => "/pairing_profile/role1_edu_exp_detail" %>
            </div>
          </li>

          <li>
            <div style="" id="add-edit-skill" class="add-edit-skill">
              <%= render :partial => "/pairing_profile/role2_edu_exp_detail" %>
            </div>
          </li>

          <li>
            <div style="" id="add-edit-skill" class="add-edit-skill">
              <%= render :partial => "/pairing_profile/role3_edu_exp_detail" %>
            </div>
          </li>
        </ul>
        <div class="clear-float">&nbsp;</div>
      </div>
      <!--Roles End-->
    </div>
    <!--content-->
    <div class="bottom"></div>
  </div>
  <!--/discription-->
</div>
<!--/blocks-->

<!--blocks blocks for Desired Education-->
<div class="blocks" id="deg-cnt">
  <h4><%=t ("position_profile.credentials.desired_education.title") %><span class="opt-white">(<%=t ("position_profile.credentials.desired_education.optional") %>)</span></h4>
  <!--discription-->
  <div class="discription">
    <div class="top"></div>
    <!--content-->
    <div class="content">
      <span class="innerHeading">
        <%=t ("position_profile.credentials.desired_education.contentL1") %><br /><%=t ("position_profile.credentials.desired_education.contentL2") %>
      </span>

      <div class="clear-float"></div>

      <div class="addition-coulmn active padding-T-0px" id="degrees" style="sdisplay:none">
        <ul class="text-autocomplete-certs">
          <li>

            <input type="hidden" id="validate-degree" value="0"/>

            <div class="customized-inner-input input-text">
              <div class="input-left">&nbsp;</div>
              <input type="hidden" id="add_deg_text_placeholder" value="<%=t ("position_profile.credentials.desired_education.label") %>" />
              <input type="text" id="add_deg_text" name="add_deg_text" value="<%=t ("position_profile.credentials.desired_education.label") %>" onkeyup="disableValidateDegree();" onFocus="focus_element(this);" onBlur="blur_element(this);" onkeydown="type_element(this);" style="width:327px;"/>
              <div class="input-right">&nbsp;</div>
            </div>

            <span class="radio-btn-container">
              <a href="javascript:void(0)" id="degree_required_flag_1" class="custom-radio" style="margin-left: 15px;" checked="checked" ><img src="/assets/employer_v2/btn-radio-active.png"/></a>
              <label style="margin: 3px 10px 0 5px;"><%=t ("position_profile.credentials.desired_education.desired") %></label>
              <a href="javascript:void(0)" id="degree_required_flag_2" class="custom-radio" checked="" ><img src="/assets/employer_v2/btn-radio-inactive.png"/></a>
              <label style="margin: 3px 0 0 5px;"><%=t ("position_profile.credentials.desired_education.required") %></label>
            </span>

            <input type="hidden" id="degree-flag" value="0"/>
          </li>
        </ul>

        <ul class="credential-table" id="cert-table">
        </ul>
      </div>
    </div>
    <!--content-->
    <div class="bottom"></div>
  </div>
  <!--/discription-->
</div>
<!--blocks for Desired Education End-->
<!--blocks for Preferred Colleges and universities Starts-->
<div class="blocks">
  <h4><%=t ("position_profile.credentials.colleges_and_universities.title") %><span class="opt-white">(<%=t ("position_profile.credentials.colleges_and_universities.optional") %>)</span></h4>
  <!--discription-->
  <div class="discription">
    <div class="top"></div>
    <!--content-->
    <div class="content">
      <span class="innerHeading">
        <%=t ("position_profile.credentials.colleges_and_universities.contentL1") %><br /><%=t ("position_profile.credentials.colleges_and_universities.contentL2") %>
      </span>

      <div class="clear-float"></div>

      <div id="collegeAndUniversities-Div" class="collegeAndUniversities-Div" style="display:none;">

      </div>

      <div class="addition-coulmn active padding-T-0px" id="" >
        <ul class="text-autocomplete-certs">
          <li>

            <input type="hidden" value="1" id="validate-college"/>
            <input type="hidden" value="0" id="college-textbox"/>

            <div class="customized-inner-input input-text">
              <div class="input-left">&nbsp;</div>
              <input type="hidden" id="add_uni_text_placeholder" value="<%=t ("position_profile.credentials.colleges_and_universities.label") %>" />
              <input type="text" id="add_uni_text" name="add_uni_text" value="<%=t ("position_profile.credentials.colleges_and_universities.label") %>" onkeyup="" onFocus="focus_element(this);" onBlur="blur_element(this);" onkeydown="type_element(this);" style="width:528px;"/>
              <div class="input-right">&nbsp;</div>
            </div>
          </li>
          <li><label class="rfloat ädd_another"style="" onclick="college_emp.add_another($('#add_uni_text').val());" style="cursor:pointer">+<%=t ("position_profile.credentials.colleges_and_universities.add_another") %></label></li>
        </ul>

        <ul class="credential-table" id="cert-table">
        </ul>
      </div>
    </div>
    <!--content-->
    <div class="bottom"></div>
  </div>
  <!--/discription-->
</div>
<!--blocks for Preferred Colleges and universities End-->

<!--blocks-->
<div class="blocks">
  <h4><%=t ("position_profile.credentials.licenses.title") %><span class="opt-white">(<%=t ("position_profile.credentials.licenses.optional") %>)</span></h4>
  <!--discription-->
  <div class="discription">
    <div class="top"></div>
    <!--content-->
    <div class="content">
      <span class="innerHeading">
        <%=t ("position_profile.credentials.licenses.contentL1") %><br /><%=t ("position_profile.credentials.licenses.contentL2") %>
      </span>

      <div class="clear-float"></div>

      <div id="licensesAndCertifications-Div" class="licensesAndCertifications-Div" style="display:none;">
      </div>

      <!--<a href="javascript:void(0)" title="+Add" class="add-skill" id="add-skill-3">+Add</a>
      <div class="addition-coulmn" id="addition-column-3"></div>-->

      <div class="addition-coulmn active" id="degrees" >
        <ul class="text-autocomplete-certs">
          <li>

            <input type="hidden" value="1" id="validate-certificate"/>
            <input type="hidden" value="0" id="certificate-textbox"/>

            <div class="customized-inner-input input-text">
              <div class="input-left">&nbsp;</div>
              <input type="hidden" id="add_cert_text_placeholder" value="<%=t ("position_profile.credentials.licenses.label") %>" />
              <input type="text" id="add_cert_text" name="add_cert_text" value="<%=t ("position_profile.credentials.licenses.label") %>" onkeyup="" onFocus="focus_element(this);" onBlur="blur_element(this);" onkeydown="type_element(this);" style="width:327px;"/>
              <div class="input-right">&nbsp;</div>
            </div>

            <span class="radio-btn-container">
              <a href="javascript:void(0)" id="cert_required_flag_1" class="custom-radio" style="margin-left: 15px;" checked="checked" ><img src="/assets/employer_v2/btn-radio-active.png"/></a>
              <label style="margin: 3px 10px 0 5px;"><%=t ("position_profile.credentials.licenses.desired") %></label>
              <a href="javascript:void(0)" id="cert_required_flag_2" class="custom-radio" checked="" ><img src="/assets/employer_v2/btn-radio-inactive.png"/></a>
              <label style="margin: 3px 0 0 5px;"><%=t ("position_profile.credentials.licenses.required") %></label>
            </span>

            <input type="hidden" id="cert-flag" value="0"/>
          </li>
          <li>
            <label class="btn-add-another" id="cert-button class" onclick="certificate_ev2.add_another($('#add_cert_text').val(), $('#cert-flag').val());">+<%=t ("position_profile.credentials.licenses.add_another") %></label>
          </li>
        </ul>

        <ul class="credential-table" id="cert-table">
        </ul>
      </div>
    </div>
    <!--content-->
    <div class="bottom"></div>
  </div>
  <!--/discription-->
</div>
<!--/blocks-->

<!--blocks-->
<div class="blocks" id="lang-cnt">
  <h4><%=t ("position_profile.credentials.languages.title") %></h4>
  <!--discription-->
  <div class="discription">
    <div class="top"></div>
    <!--content-->
    <div class="content">
      <span class="innerHeading">
        <%=t ("position_profile.credentials.languages.contentL1") %><br /><%=t ("position_profile.credentials.languages.contentL2") %>
      </span>

      <div class="clear-float"></div>

      <div id="langauges-Div" class="langauges-Div" style="display:none;">
      </div>

      <a href="javascript:void(0)" title="+Add" class="add-skill" id="add-skill-2">+<%=t ("position_profile.credentials.languages.add") %></a>
      <div class="addition-coulmn" id="addition-column-2"></div>

      <div class="addition-coulmn active padding-T-0px" id="languages" style="display:none;">
        <ul>
          <li>

            <input type="hidden" id="validate-language" value="0"/>

            <div class="language-slector" id ="langauge-selector">
              <span class="label-default" id="temp"><%=t ("position_profile.credentials.languages.language_label") %></span>

              <div class="language-options" id="lo" style="display:none;">
                <div class="language-options-top">&nbsp;</div>
                <div class="language-options-content" id="language-options-content">
                  <label class="label-default"><%=t ("position_profile.credentials.languages.language_label") %></label>
                  <ul class="option">
                    <% for language in @languages -%>
                      <li selected=""><label onclick="language_ev2.add_show(this);unbindKeydown();" id=<%= "'"+"#{language.id}"+"'" %> ><%= language.name %></label></li>
                    <% end %>
                  </ul>
                </div>
                <div class="language-options-bottom">&nbsp;</div>

              </div>
            </div>

            <div class="fluency-selector" id="fluency-selector">
              <label class="label-default-top"><%=t ("position_profile.credentials.languages.fluency_label") %></label>

              <div class="fluency-options" id="fo" style="display:none;">
                <div class="fluency-options-top">&nbsp;</div>
                <div class="fluency-options-content" id="fluency-options-content">
                  <label class="label-default"><%=t ("position_profile.credentials.languages.fluency_label") %></label>
                  <ul class="option">
                    <li selected=""><label class="conventional" onclick="language_ev2.adv_conv(this);unbindKeydown();" id="1"><%=t ("position_profile.credentials.languages.conversational") %></label></li>
                    <li selected=""><label class="advanced" onclick="<% if @employer.advanced_alert == false %>language_ev2.adv_conv(this);<% end %>centralizePopup();unbindKeydown();" id="2"><%=t ("position_profile.credentials.languages.advanced") %></label></li>
                  </ul>
                </div>
                <div class="fluency-options-bottom">&nbsp;</div>
              </div>
            </div>
            <a href='javascript:void(0)' id="language-remove" class='remove lang-rem' style="display:none;"><img src='/assets/remove-skill.png' alt='Remove Certificate' width='20' height='20' /></a>
            <span class="radio-btn-container">
              <a href="javascript:void(0)" id="lang_required_flag_1" class="custom-radio" checked="checked"><img src="/assets/employer_v2/btn-radio-active.png"/></a>
              <label style="margin: 3px 10px 0 5px;"><%=t ("position_profile.credentials.languages.desired") %></label>
              <a href="javascript:void(0)" id="lang_required_flag_2" class="custom-radio" checked=""><img src="/assets/employer_v2/btn-radio-inactive.png"/></a>
              <label style="margin: 3px 0 0 5px;"><%=t ("position_profile.credentials.languages.required") %></label>
            </span>
            <input type="hidden" id="language-flag" value="0"/>
            <input type="hidden" id="selected-lang-id" value="" />
            <label class="btn-add-another" id="lang-button" onclick="language_ev2.add_another($('#langauge-selector span.label-default').text(), $('#fluency-selector .label-default-top').text(), $('#language-flag').val());">+<%=t ("position_profile.credentials.languages.add_another") %></label>
          </li>
        </ul>
        <ul class="lang-table" id="lang-table"></ul>
      </div>
    </div>
    <!--content-->
    <div class="bottom"></div>
  </div>
  <!--/discription-->
</div>
<!--/blocks-->

<div class="button-container">
  <input type="button" class="btn-save active" name="check" id="credential-submit" onclick="submitCredential();return false;"/>
  <%=  form_tag("/position_profile/employer_save_credentials",:name=>"credential_form",:id=>"credential_form",:method =>"post",:remote=>true) do -%>
    <%=hidden_field_tag :certificate_param%>
  <%#=hidden_field_tag :proficiency_param%>
    <%=hidden_field_tag :id,params[:jid] -%>
    <%=hidden_field_tag :selected_languages%>
    <%=hidden_field_tag :required_certificates -%>
    <%=hidden_field_tag :required_languages -%>
    <%=hidden_field_tag :required_degree %>
    <%=hidden_field_tag :selected_colleges %>
    <%=hidden_field_tag :degree_param %>
    <%=hidden_field_tag :selected_roles %>
    <input type="hidden" id="destination_path" name="destination_path" value="" />
    <input type="hidden" name="position_parent_id" id="position_parent_id" value="0"/>
  <%end%>
  <span id="cert_err_msg" style="display: none; color: #D71F0C;font-size: 13px;font-weight: 700;float: right;margin-right: 5px;margin-top: 5px;">SAVED Incomplete fields are shown in red.</span>
  <span id="role_err_msg" style="display: none; color: #D71F0C;font-size: 13px;font-weight: 700;float: right;margin-right: 5px;margin-top: 5px;">ERROR Role section contains incomplete fields.</span>
  <span id="language_err_msg" style="display: none; color: #D71F0C;font-size: 13px;font-weight: 700;float: right;margin-right: 5px;margin-top: 5px;">ERROR Language section contains incomplete fields.</span>
  <span id="degree_err_msg" style="display: none; color: #D71F0C;font-size: 13px;font-weight: 700;float: right;margin-right: 5px;margin-top: 5px;">ERROR Please select degree from the dropdown.</span>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#position_parent_id').val($('#parent_id').val());
    if($('.cert-list')){
      $('.cert-list').parent().parent().remove();
    }

    if($('.college-university-list')){
      $('.college-university-list').parent().parent().remove();
    }
    
    cert_autocomplete.create();
    uni_autocomplete.create();
    degree_autocomplete.create();

    $('.cert-list').parent().append("<div id='cert-dd-textbox' onclick='changeToTextBoxCertificate(event);' class='collegeUniversity-autoComplete-txt collegeUniversity-licencesCls' style='display:none'>Other (enter your own)</div>");
    $('.college-university-list').parent().append("<div id='college-univ-textbox' onclick='changeToTextBoxCollege(event);' class='collegeUniversity-autoComplete-txt collegeUniversity-preferedCollegesCls' style='display:none'>Other (enter your own)</div>");

    //certificate_ev2.initialize("<%#=h @selected_certificates%>"+"_jucert_"+"<%#=h @selected_licenses%>", "<%#=h @required_certificates_arr%>");
    certificate_ev2.initialize("<%= @new_selected_certificates.html_safe%>", "<%= @required_certificates_arr.html_safe%>");
    language_ev2.initialize("<%= @selected_languages.html_safe %>", "<%= @required_languages_arr.html_safe %>");
    college_emp.initialize("<%= @selected_colleges.html_safe %>");
    degree_emp.initialize("<%= @selected_degree.html_safe %>", "<%=h @degree_flag %>");

    if($('#credentials span').html()=="Completed"){
      $("#skills").show();
      $("#add-skill-1").hide();
      $("#addition-column-1").hide();
      $("#languages").show();
      $("#add-skill-2").hide();
      $("#addition-column-2").hide();
      $("#degrees").show();
      $("#add-skill-3").hide();
      $("#addition-column-3").hide();
    }

    if($('.language-options', this).is(":visible")) { $('.language-options', this).hide(); }

    $('body').click(function(e){
      $('.language-options').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');
      $('.college-university-list').css('display','none');
      $('.degree-list').css('display','none');

      $('.education-options').css('display','none');
      $('.education-options-role2').css('display','none');
      $('.education-options-role3').css('display','none');

      $('.skill-options').css('display','none');
      $('.skill-options-role2').css('display','none');
      $('.skill-options-role3').css('display','none');

      $('.collegeUniversity-autoComplete-txt').hide();
      $('.collegeUniversity-autoComplete-txt').html("Other (enter your own)");
      $('#certificate-textbox').val('0');
      $('#college-textbox').val('0');
      $(document).unbind('keydown');
      e.stopPropagation();
            
    });

    $('.language-slector').click(function(e){
      $(this).parents('.inner-paring-block').addClass('activeBlock');
      $('.default-level',this).css('display','none');
      if($('.language-options', this).is(":visible") == true){ $('.language-options', this).hide(); }
      else{
        $('.language-options', this).show();
        $('.option').children().each(function(){
          if($(this).attr('selected')=='selected'){ $(this).removeClass('selected').removeAttr('selected'); }
        });

        $('.language-options .option').find('#1').parent().addClass('selected').attr('selected','selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();

        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('lo'), 'language_emp');
        });
        /*
                    window.addEventListener('keydown', function(e){
                        DropDownHandler.func(e, document.getElementById('lo'));
                    });
         */
      }
      $('.education-options').css('display','none');
      $('.education-options-role2').css('display','none');
      $('.education-options-role3').css('display','none');

      $('.skill-options').css('display','none');
      $('.skill-options-role2').css('display','none');
      $('.skill-options-role3').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');
      e.stopPropagation();
    });
        
    $('.option li').hover(function(){
      $('.option').children().each(function(){
        if($(this).attr('selected')=='selected'){
          $(this).removeClass('selected').removeAttr('selected');
        }
      });
      $(this).addClass('selected').attr('selected', 'selected');
    });
       
    $('.fluency-selector').click(function(e){
      $(this).parents('.inner-paring-block').addClass('activeBlock');
      $('.default-level',this).css('display','none');
      if($('.fluency-options', this).is(":visible") == false){
        $('.fluency-options', this).show();
        $('.option').children().each(function(){
          if($(this).attr('selected')=='selected'){
            $(this).removeClass('selected').removeAttr('selected');
          }
        });

        $('.fluency-options .option').find('#1').parent().addClass('selected').attr('selected', 'selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();

        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('fo'), 'fluency_emp');
        });
      }
      else{
        $('.fluency-options', this).hide();
      }
      $('.education-options').css('display','none');
      $('.education-options-role2').css('display','none');
      $('.education-options-role3').css('display','none');
      $('.skill-options').css('display','none');
      $('.skill-options-role2').css('display','none');
      $('.skill-options-role3').css('display','none');
      $('.language-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');
      e.stopPropagation();
    });

    /*
    $("#language-remove").click(function(){
      $("#langauge-selector").find('span.label-default').removeClass("text-active").text("Language");
      $("#language-options-content").find('label.label-default').removeClass("text-active").text("Language");
      $("#fluency-selector").find("label.label-default-top").removeClass("text-active-blue text-active-red").text("Level of Fluency");
      $("#fo").find("label.label-default").removeClass("text-active-blue text-active-red").text("Level of Fluency");
      $("#language-remove").hide();
      $('#validate-language').val(0);
    });
    */
    
        
    $('.language-options-content ul li').each(function(){
      $('label',this).click(function(){
        _labelVale = $(this).html();
        $('.language-slector .label-default').text(_labelVale);
        $('.language-slector .label-default-top').text(_labelVale);
        $('.language-slector .label-default').addClass("text-active");
        $('.language-slector .label-default-top').addClass("text-active");
        //$("#language-remove").show();
        if($('#fluency-selector .label-default-top').text()!="Level of Fluency"){
          $('#validate-language').val("1");
        }
        $("#tab-3_hasThisFormBeenEdited").val('1');
      });
    });

    $('.fluency-options ul li').each(function(){
      $('label',this).click(function(){
        _labelVale = $(this).html();
        $('.fluency-selector .label-default-top').text(_labelVale);
        $('#fluency-options-content label.label-default').text(_labelVale);
        if(_labelVale=="Conversational") {
          $('.fluency-selector .label-default-top').removeClass("text-active-blue text-active-red");
          $('.fluency-selector .label-default-top').addClass("text-active-blue");
          $('#fluency-options-content label.label-default').removeClass("text-active-blue text-active-red");
          $('#fluency-options-content label.label-default').addClass("text-active-blue");
        }
        else if(_labelVale=="Advanced") {
          $('.fluency-selector .label-default-top').removeClass("text-active-blue text-active-red");
          $('.fluency-selector .label-default-top').addClass("text-active-red");
          $('#fluency-options-content label.label-default').removeClass("text-active-blue text-active-red");
          $('#fluency-options-content label.label-default').addClass("text-active-red");
        }
        //$("#language-remove").show();
        if($('#langauge-selector').find('span.label-default').text()!="Language"){
          $('#validate-language').val("1");
        }
        $("#tab-3_hasThisFormBeenEdited").val('1');
      });
    });
        
    $("#add-skill-1").click(function(){
      $("#skills").show();
      $("#add-skill-1").hide();
      $("#addition-column-1").hide();
    });

    //$("#add-skill-2").click(function(){
    $("#languages").show();
    $("#add-skill-2").hide();
    $("#addition-column-2").hide();
    //});

    //$("#add-skill-3").click(function(){
    $("#degrees").show();
    $("#add-skill-3").hide();
    $("#addition-column-3").hide();
    //});

    $("#cert_required_flag_1").click(function(){
      $("#cert-flag").val("0");
      $("#cert_required_flag_2").attr("checked","");
      $("#cert_required_flag_2").html('<img src="/assets/employer_v2/btn-radio-inactive.png"/>');
      $("#cert_required_flag_1").html('<img src="/assets/employer_v2/btn-radio-active.png"/>');
      $("#cert_required_flag_1").attr("checked","checked");

      if($("#validate-certificate").val()=="1"){
        $("#tab-3_hasThisFormBeenEdited").val("1");
      }
      return false;
    });
        
    $("#cert_required_flag_2").click(function(){
      $("#cert-flag").val("1");
      $("#cert_required_flag_1").attr("checked","");
      $("#cert_required_flag_1").html('<img src="/assets/employer_v2/btn-radio-inactive.png"/>');
      $("#cert_required_flag_2").html('<img src="/assets/employer_v2/btn-radio-active.png"/>');
      $("#cert_required_flag_2").attr("checked","checked");

      if($("#validate-certificate").val()=="1"){
        $("#tab-3_hasThisFormBeenEdited").val("1");
      }
      return false;
    });
        
    $("#lang_required_flag_1").click(function(){
      $("#language-flag").val("0");
      $("#lang_required_flag_2").attr("checked","");
      $("#lang_required_flag_2").html('<img src="/assets/employer_v2/btn-radio-inactive.png"/>');
      $("#lang_required_flag_1").html('<img src="/assets/employer_v2/btn-radio-active.png"/>');
      $("#lang_required_flag_1").attr("checked","checked");

      if($("#validate-language").val()=="1"){
        $("#tab-3_hasThisFormBeenEdited").val("1");
      }
      return false;
    });

    $("#lang_required_flag_2").click(function(){
      $("#language-flag").val("1");
      $("#lang_required_flag_1").attr("checked","");
      $("#lang_required_flag_1").html('<img src="/assets/employer_v2/btn-radio-inactive.png"/>');
      $("#lang_required_flag_2").html('<img src="/assets/employer_v2/btn-radio-active.png"/>');
      $("#lang_required_flag_2").attr("checked","checked");

      if($("#validate-language").val()=="1"){
        $("#tab-3_hasThisFormBeenEdited").val("1");
      }
      return false;
    });

    $("#degree_required_flag_1").click(function(){
      $("#degree-flag").val("0");
      $("#degree_required_flag_2").attr("checked","");
      $("#degree_required_flag_2").html('<img src="/assets/employer_v2/btn-radio-inactive.png"/>');
      $("#degree_required_flag_1").html('<img src="/assets/employer_v2/btn-radio-active.png"/>');
      $("#degree_required_flag_1").attr("checked","checked");

      if($("#validate-degree").val()=="1"){
        $("#tab-3_hasThisFormBeenEdited").val("1");
      }
      return false;
    });

    $("#degree_required_flag_2").click(function(){
      $("#degree-flag").val("1");
      $("#degree_required_flag_1").attr("checked","");
      $("#degree_required_flag_1").html('<img src="/assets/employer_v2/btn-radio-inactive.png"/>');
      $("#degree_required_flag_2").html('<img src="/assets/employer_v2/btn-radio-active.png"/>');
      $("#degree_required_flag_2").attr("checked","checked");

      if($("#validate-degree").val()=="1"){
        $("#tab-3_hasThisFormBeenEdited").val("1");
      }
      return false;
    });
        
    $("#lang-button").click(function(){
      //language_ev2.langbox_submit();
    });

    $("#validate-degree").bind('change', function(){
      //console.log("Running");
      if($("#validate-degree").val()=="1"){
        $("#tab-3_hasThisFormBeenEdited").val("1");
      }
    });

    $("#validate-language").change(function(){
      if($("#validate-language").val()=="1"){
        $("#tab-3_hasThisFormBeenEdited").val("1");
      }
    });

    $("#validate-certificate").change(function(){
      if($("#validate-certificate").val()=="1"){
        $("#tab-3_hasThisFormBeenEdited").val("1");
      }
    });

    $("#validate-college").change(function(){
      if($("#validate-college").val()=="1"){
        $("#tab-3_hasThisFormBeenEdited").val("1");
      }
    });

    $('.educationLevel').click(function(e){
      if($('.education-options', this).is(":visible") == true)
        $('.education-options', this).hide();
      else{
        $('.education-options', this).show();

        $('.option').children().each(function(){
          if($(this).attr('selected') == 'selected'){
            $(this).removeClass('selected').removeAttr('selected');
          }
        });
        $('.education-options .option').find('#1_').parent().addClass('selected').attr('selected', 'selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();

        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('education-options'), 'edulevel1');
        });
      }
      $('.language-options').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');

      $('.education-options-role2').css('display','none');
      $('.education-options-role3').css('display','none');

      $('.skill-options').css('display','none');
      $('.skill-options-role2').css('display','none');
      $('.skill-options-role3').css('display','none');

      e.stopPropagation();
    });

    $('.skillLevel').click(function(e){
      if($('.skill-options', this).is(":visible") == true)
        $('.skill-options', this).hide();
      else{
        $('.skill-options', this).show();
        $('.option').children().each(function(){
          if($(this).attr('selected')=='selected'){
            $(this).removeClass('selected').removeAttr('selected');
          }
        });

        $('.skill-options .option').find('#1').parent().addClass('selected').attr('selected', 'selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();

        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('skill-options'), 'explevel1');
        });
      }
      $('.language-options').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');

      $('.education-options').css('display','none');
      $('.education-options-role2').css('display','none');
      $('.education-options-role3').css('display','none');

      $('.skill-options-role2').css('display','none');
      $('.skill-options-role3').css('display','none');


      e.stopPropagation();
    });

    $('.educationLevelRole2').click(function(e){
      if($('.education-options-role2', this).is(":visible") == true)
        $('.education-options-role2', this).hide();
      else{
        $('.education-options-role2', this).show();

        $('.option').children().each(function(){
          if($(this).attr('selected') == 'selected'){
            $(this).removeClass('selected').removeAttr('selected');
          }
        });
        $('.education-options-role2 .option').find('#1_').parent().addClass('selected').attr('selected', 'selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();

        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('education-options-role2'), 'edulevel2');
        });
      }
      $('.language-options').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');

      $('.education-options').css('display','none');
      $('.education-options-role3').css('display','none');

      $('.skill-options').css('display','none');
      $('.skill-options-role2').css('display','none');
      $('.skill-options-role3').css('display','none');


      e.stopPropagation();
    });

    $('.skillLevelRole2').click(function(e){
      if($('.skill-options-role2', this).is(":visible") == true)
        $('.skill-options-role2', this).hide();
      else{
        $('.skill-options-role2', this).show();
        $('.option').children().each(function(){
          if($(this).attr('selected')=='selected'){
            $(this).removeClass('selected').removeAttr('selected');
          }
        });

        $('.skill-options-role2 .option').find('#1').parent().addClass('selected').attr('selected', 'selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();

        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('skill-options-role2'), 'explevel2');
        });
      }
      $('.language-options').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');

      $('.education-options').css('display','none');
      $('.education-options-role2').css('display','none');
      $('.education-options-role3').css('display','none');

      $('.skill-options').css('display','none');
      $('.skill-options-role3').css('display','none');

      e.stopPropagation();
    });

    $('.educationLevelRole3').click(function(e){
      if($('.education-options-role3', this).is(":visible") == true)
        $('.education-options-role3', this).hide();
      else{
        $('.education-options-role3', this).show();

        $('.option').children().each(function(){
          if($(this).attr('selected') == 'selected'){
            $(this).removeClass('selected').removeAttr('selected');
          }
        });
        $('.education-options-role3 .option').find('#1_').parent().addClass('selected').attr('selected', 'selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();

        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('education-options-role3'), 'edulevel3');
        });
      }
      $('.language-options').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');

      $('.education-options').css('display','none');
      $('.education-options-role2').css('display','none');
      
      $('.skill-options').css('display','none');
      $('.skill-options-role2').css('display','none');
      $('.skill-options-role3').css('display','none');

      e.stopPropagation();
    });

    $('.skillLevelRole3').click(function(e){
      if($('.skill-options-role3', this).is(":visible") == true)
        $('.skill-options-role3', this).hide();
      else{
        $('.skill-options-role3', this).show();
        $('.option').children().each(function(){
          if($(this).attr('selected')=='selected'){
            $(this).removeClass('selected').removeAttr('selected');
          }
        });

        $('.skill-options-role3 .option').find('#1').parent().addClass('selected').attr('selected', 'selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();

        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('skill-options-role3'), 'explevel3');
        });
      }
      $('.language-options').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');

      $('.education-options').css('display','none');
      $('.education-options-role2').css('display','none');
      $('.education-options-role3').css('display','none');

      $('.skill-options').css('display','none');
      $('.skill-options-role2').css('display','none');
      
      e.stopPropagation();
    });

    $('.education-options-content ul li').each(function(){
      $('label',this).click(function(){
        _labelVale = $(this).html();
        $('.educationLevel .education-default').text(_labelVale);
        $(".educationLevel .education-default").addClass("text-active");
        $("#tab-3_hasThisFormBeenEdited").val("1");
        $("div#removeRole1Contents").html("<a href='javascript:void(0)' class='remove' onclick='clearRole1Contents();'><img src='/assets/remove-skill.png' alt='Remove Role' width='20' height='20' /></a>");
      });
    });

    $('.skill-options-content ul li').each(function(){
      $('label',this).click(function(){
        _labelVale = $(this).html();
        $('.skillLevel .skill-default').text(_labelVale);
        $(".skillLevel .skill-default").addClass("text-active");
        $("#tab-3_hasThisFormBeenEdited").val("1");
        $("div#removeRole1Contents").html("<a href='javascript:void(0)' class='remove' onclick='clearRole1Contents();'><img src='/assets/remove-skill.png' alt='Remove Role' width='20' height='20' /></a>");
      });
    });

    $('.education-options-content-role2 ul li').each(function(){
      $('label',this).click(function(){
        _labelVale = $(this).html();
        $('.educationLevelRole2 .education-default').text(_labelVale);
        $(".educationLevelRole2 .education-default").addClass("text-active");
        $("#tab-3_hasThisFormBeenEdited").val("1");
        $("div#removeRole2Contents").html("<a href='javascript:void(0)' class='remove' onclick='clearRole2Contents();'><img src='/assets/remove-skill.png' alt='Remove Role' width='20' height='20' /></a>");
      });
    });

    $('.skill-options-content-role2 ul li').each(function(){
      $('label',this).click(function(){
        _labelVale = $(this).html();
        $('.skillLevelRole2 .skill-default').text(_labelVale);
        $(".skillLevelRole2 .skill-default").addClass("text-active");
        $("#tab-3_hasThisFormBeenEdited").val("1");
        $("div#removeRole2Contents").html("<a href='javascript:void(0)' class='remove' onclick='clearRole2Contents();'><img src='/assets/remove-skill.png' alt='Remove Role' width='20' height='20' /></a>");
      });
    });

    $('.education-options-content-role3 ul li').each(function(){
      $('label',this).click(function(){
        _labelVale = $(this).html();
        $('.educationLevelRole3 .education-default').text(_labelVale);
        $(".educationLevelRole3 .education-default").addClass("text-active");
        $("#tab-3_hasThisFormBeenEdited").val("1");
        $("div#removeRole3Contents").html("<a href='javascript:void(0)' class='remove' onclick='clearRole3Contents();'><img src='/assets/remove-skill.png' alt='Remove Role' width='20' height='20' /></a>");
      });
    });

    $('.skill-options-content-role3 ul li').each(function(){
      $('label',this).click(function(){
        _labelVale = $(this).html();
        $('.skillLevelRole3 .skill-default').text(_labelVale);
        $(".skillLevelRole3 .skill-default").addClass("text-active");
        $("#tab-3_hasThisFormBeenEdited").val("1");
        $("div#removeRole3Contents").html("<a href='javascript:void(0)' class='remove' onclick='clearRole3Contents();'><img src='/assets/remove-skill.png' alt='Remove Role' width='20' height='20' /></a>");
      });
    });
  });

  function submitCredential(){
    if(document.getElementById('credential-submit').disabled==false  && $("#credential-submit").hasClass("active")){
      credential_save.call();
    }
  }
    
  function skills_add_button_binding(){
    $("div#proficiencyOccurence").html("<input type='hidden' value='occured' id='match-occured' />");
    skills_ev2.add_show_val();
  }
</script>    