<div class="work-env-blue-box">
  <div class="work-env-blue-box-top">&nbsp;</div>
  <div class="work-env-blue-box-content">
  	<h1 class="role-ques-label">Desired Education Level</h1>
	<div class="degree-box-container">
		<%for degree in @degrees%>
			<div class="degree-box">
				<a href="javascript:void(0);" onclick="select_highest_education(<%=degree.id%>);" id="degree_link_<%=degree.id%>" class="<%=@selected_degree_ids.include?(degree.id) ? "degree-tab-selected" : "degree-tab"%>"><%=h(degree.name) -%></a>
			</div>
		<%end%>
	</div>
  </div>
  <div class="work-env-blue-box-bottom">&nbsp;</div>
</div>

<!-- work experience -->
<div class="intro-right-content margin-B-20px">
  <div class="myintro-content" style="padding-bottom:0">
	<div class="myintro-section-content">
		
		<h1 class="role-ques-label">Desired Level Work Experience</h1>
		<div class="exp-box-container">
			<div class="exp-box1">
			  <a href="javascript:void(0);" onclick="select_work_experience(0);" id="exp_link_0" class="<%=@selected_work_exp == 0 ? "anyWorkExpBtn_enabled" : "anyWorkExpBtn"%>">Any</a>
			</div>
			<% for i in 1..10 %>
				<div class="exp-box">
					<a href="javascript:void(0);" onclick="select_work_experience(<%= i %>);" id="exp_link_<%= i %>" class="<%=@selected_work_exp == i ? "WorkExpBtn_blue" : "WorkExpBtn_disabled"%>">
					  <% if i == 10 %>
						<%= i %>+
					  <%else%>
						<%= i %>
					  <%end%>
					</a>
				</div>
			<%end%>	
		</div>
    </div>
  </div>
  <div class="myintro-content-bottom">&nbsp;</div>
</div>

<!-- Language Skills -->
<div class="intro-right-content margin-B-20px">
  <div class="myintro-content" style="padding-bottom:0">
	<div class="myintro-section-content">
		
		<h1 class="role-ques-label">Language Skills*</h1>
		<a href="javascript:void(0);" onclick="employer_select_lang_pop.open();" class="small-font float-right">Select Languages</a>
		<div class="height10"></div>
		<div id="lang-box" class="language-container">
			<div id="lang-cell-1" class="lang-cell" style="display:none;" >
			&nbsp;
			</div>

			<div id="lang-cell-2" class="lang-cell" style="display:none;" >
			&nbsp;
			</div>

			<div id="lang-cell-3" class="lang-cell" style="display:none;">
			&nbsp;
			</div>
			
			<div id="lang-cell-4" class="lang-cell" style="display:none;">
			&nbsp;
			</div>

			<div id="lang-cell-5" class="lang-cell" style="display:none;">
			&nbsp;
			</div>

			<div class="clear-height"></div>

		</div>
		
		<div class="lang-legend">
			<span class="conversational-lang">Conversational</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="advanced-lang">Advanced</span>
		</div>
    </div>
  </div>
  <div class="myintro-content-bottom">&nbsp;</div>
</div>

<!-- Certifications and Licenses -->
<div class="intro-right-content margin-B-20px">
	<div class="myintro-content padding-B-0px">
		<span class="tab_innerblock_heading">Certifications and Licenses</span>
		<p class="margin-TB-10px">
			Select from the list of Certifications and Licenses in the Hilo<sup>TM</sup> database or add your own.
		</p>
		
		<div class="credential-table-header" >
			<div id="cert_add_box" style="display:none;">
				<form name="cert-add" onsubmit="certbox_submit(); return false;">
					<div class="pos-left credential-type-here">
						Just start typing <img src="/assets/green_right.jpg"/>&nbsp;
					</div>
					<div class="pos-left">
						<input type="text" name="add_cert_text" id="add_cert_text" class="input-field-style"/>&nbsp;
					</div>
					<div class="pos-left">
						<%=submit_tag("+ Add",:class=>"button-style-shared buttton_65X23") -%>&nbsp; 
					</div> 
					<div class="pos-left credential-close">
						<a href="javascript:void(0);" onclick="certificate.hide();" class="small-font">Close</a>
					</div>
					<br class="clear"/>
				</form>
			</div>
			<div class="credential-table-header-add">
				<a href="javascript:void(0);" onclick="certificate.show();" id="cert_add_link" class="small-font">+ Add</a>
			</div>
		</div>
		
		<br class="clear"/>
		<div class="credential-table" id="cert-table">
				
		</div>
		<div class="cert_error_div" id="cert_error_div" style="display:none;">
				You can not add more than 5 Certifications and Licenses
		</div>
	</div>
	<div class="myintro-content-bottom">&nbsp;</div>
</div>

<div class="intro-right-content margin-B-20px">
	<div class="myintro-content">
		<span class="tab_innerblock_heading">Top Five Proficiencies *</span>
		<p class="margin-TB-10px">Select from the list of proficiencies in the Hilo<sup>TM</sup> database.</p>
		
		<div class="credential-table-header" >
				<div id="prof_add_box" style="display:none;">
					<form name="prof-add" onsubmit="employer_profbox_submit(); return false;">
						<div class="pos-left credential-type-here">
							Just start typing <img src="/assets/green_right.jpg"/>&nbsp;
						</div>
						<div class="pos-left">
							<input type="text" name="add_prof_text" id="add_prof_text" class="input-field-style"/>&nbsp;
						</div>
						<div class="pos-left">
							<%=submit_tag("+ Add",:class=>"button-style-shared buttton_65X23") -%>&nbsp; 
						</div> 
						<div class="pos-left credential-close">
							 <a href="javascript:void(0);" onclick="proficiency.hide();" class="small-font">Close</a>
						</div>
						<br class="clear"/>

					</form>
				</div>
				<div class="credential-table-header-add">
					<a href="javascript:void(0);" onclick="proficiency.show();" id="prof_add_link" class="small-font">+ Add</a>
				</div>
				
		</div>		
		<br class="clear"/>
		
		<div class="prof-table" id="prof-table">
			
		</div>
		<div class="prof_error_div" id="prof_error_div" style="display:none;">
			You can not add more than 5 Proficencies
		</div>
		
		<div class="prof_error_div" id="prof_error_div_add_invalid" style="display:none;">
			You can not add your own Proficiency
		</div>
		
	</div>
	<div class="myintro-content-bottom">&nbsp;</div>
</div>


<script type="text/javascript">
	$(document).ready(function(){
		emp_cert_autocomplete.create();
		certificate.initialize("<%=@selected_certificates%>");
		emp_prof_autocomplete.create();
		employer_proficiency.initialize("<%=@employer_selected_proficiencies%>", "<%=@employer_proficiencies%>");
		employer_select_lang_pop.init_onload();
		employer_select_lang_pop.apply();
		employer_mark_required_lang_and_certificates();
		
	
	});
</script>