
<%=render :partial=>"/position_profile/employer_profile/blocks_credential_all"%>


<%=  form_tag("/position_profile/employer_save_credentials",:name=>"credential_form",:id=>"credential_form",:method =>"post") do -%>
<div style="float:right;">
		<%=submit_tag("Save",:onclick=>"return employer_save_credentials.call(); return false;",:class=>"button-style-shared save_buttton_62-18")%>	
		<%=hidden_field_tag :certificate_param%>
		<%=hidden_field_tag :proficiency_param%>
		<%=hidden_field_tag :workexp_value, "#{@selected_work_exp}"%>
		<%=hidden_field_tag :id,params[:id] -%>
		<%=hidden_field_tag :selected_languages,"#{@selected_languages.join(',')}"%>
		<%=hidden_field_tag :selected_degrees_id,"#{@selected_degree_ids[0]}"%>
		<%=hidden_field_tag :required_certificates,@required_certificates_arr.join(",") -%>
		<%=hidden_field_tag :required_languages,@required_languages_arr.join(",") -%>

</div>
	<%end%>
<%=render :partial=>"/pairing_profile/employer_language_selection.html",:locals=>{:languages_list => @languages}%>