<div class="white_content" id="advanced_popup" style="display: none; position: fixed;">
  <div class="popup-upper-block-military advanced-popup" style="width: 617px;">
    <span class="popup-top">&nbsp;</span>
    <div class="popup-content">
      <div class="gradient-content gradient-content-white">
        <div class="popup-header-container">
          <label class="popup-heading"><%=t ("pairing_profile.credentials.advanced_pop_up.heading") %></label>

          <div class="checkbox-cont" id="chkbx">
            <input id="adv-check" type="hidden" name="adv-check" value="false"/>
            <input type="checkbox" id="advanced-check" class="styled" name="advanced-check" onclick="language_csv2.adv_pop($('#adv-check').val());"/>
            <label id="adv-check-label" style="font-weight:400; font-size:13px; margin-top:2px;" onclick="Custom.check($('#advanced-check').prev());"><%=t ("pairing_profile.credentials.advanced_pop_up.check_box") %></label>
          </div>

        </div>
        <div class="popup-inner-content" style="height:auto; overflow:hidden; margin-top: 20px;">
          <p style="width:400px; font-size:14px; font-weight:400;" class="lfloat"><%=t ("pairing_profile.credentials.advanced_pop_up.contentL1") %><span style="color:#D71F0C; font-weight:700;"><%=t ("pairing_profile.credentials.advanced_pop_up.contentL2") %></span><%=t ("pairing_profile.credentials.advanced_pop_up.contentL3") %><br />
			    <%=t ("pairing_profile.credentials.advanced_pop_up.contentL4") %>
          </p>
          <input type="button" id="advanced_popup_button" class="enter-button-sp-active rfloat" onClick="language_csv2.close_pop();" />
        </div>
      </div>
      <a onclick="language_csv2.close_pop()" class="close" href="javascript:void(0)">Close</a>

    </div>

    <span class="popup-bottom">&nbsp;</span>
  </div>

</div>

<script type="text/javascript">
	
  document.onload = clickBind();
		
  function clickBind(){
<% if controller.action_name == "credentials" %>
      Custom.init();
<% end %>
    
  }
	
</script>
