<%=javascript_include_tag("pairing","jquery.autocomplete")%>
<% if controller.controller_name == "account" %>
  <%= form_tag("/pairing_profile/save_credentials", :id=>"credential_form", :name=>"credential_form", :method=>"post", :remote => true) do -%>
    <%=hidden_field_tag :certificate_param%>
    <%=hidden_field_tag :save_type%>
    <%=hidden_field_tag :skills%>
    <%=hidden_field_tag :selected_languages%>
  <% end %>
<% end %>

<div class="paring-blocks" style="overflow:visible;">
  <!--container-topSkills-->
  <div class="container-topSkills">
    <div class="topSkills-top">&nbsp;</div><!--/topSkills-top-->
    <!--topSkills-content-->
    <div class="topSkills-content">
      <!--skills-gradient-->
      <div class="skills-gradient overflow-visible">
        <div class="block-heading-block">
          <h3>TOP 5 SKILLS</h3>
          <label>Unranked.</label>
          <label>Add up to five core skills.</label>
        </div>
        <a href="javascript:void(0)" title="help" class="help-icon" id="skill-help" onclick="skill_help();"><img src="/assets/question-icon.png" width="24" height="24" alt="help" /></a>
        <div class="clear-float">&nbsp;</div>
        <div class="paring-content" id="skills-add">
          <a class="add-skills" title="Add" href="javascript:void(0);" onclick="top_skills.show();">+ Add</a>
          <div class="hr_line clear-float"></div>
        </div>
        <div class="add-edit-skill" id="add-edit-skill" style="display:none;">
          <!--<form name="skill-add">-->
          <div class="margin-R-15px lfloat skill-input">
            <div class="customized-inner-input input-text">
              <div class="input-left">&nbsp;</div>
              <input type="hidden" id="add_prof_text_placeholder" value="Type to access database" />
              <input maxlength="40" tabindex="1" type="text" value="Type to access database" name="add_prof_text" id="add_prof_text" class="accessDatabase" onkeyup="$('#skills-add-button').attr('disabled','disabled');document.getElementById('skills-add-button').className='add-button'; skills_click_autocomplete();" onFocus="focus_element(this);" onBlur="blur_element(this);" onkeydown="type_element(this);"/>
              <div class="input-right">&nbsp;</div>
              <div id="proficiencyOccurence"></div>
            </div>
          </div>
          <!--educationLevel-->
          <select tabindex="2" id="edu-level-dummy" style="height:0px; width:0px; position:absolute; top:-1000px; left:-10px;"></select>
          <div class="educationLevel" id="educationLevel">
            <span class="education-default" id="temp_edu">Education Level</span><!--education-default-->
            <!--education-options-->
            <div class="education-options" id="education-options" style="display:none;">
              <div class="education-options-top">&nbsp;</div><!--education-options-top-->
              <!--education-options-content-->

              <div class="education-options-content">
                <label class="education-default" >Education Level</label>
                <ul class="option">
                  <% for education in @educations  %>
                    <li selected=""><label onclick="onEducationChange(); skills_csv2.add_show(this); unbindKeydown();" value =<%=  "'" +"#{education.id}" + "'" %> id=<%=  "'" +"#{education.id}" + "'" %>><%= education.name %></label></li>
                  <% end %>
                </ul>
              </div>
              <!--.education-options-content-->
              <div class="education-options-bottom">&nbsp;</div>
            </div>
            <!--/education-options-->
          </div>

          <!--/educationLevel-->
          <!--skillLevel-->
          <select tabindex="3" id="skill-level-dummy" style="height:0px; width:0px; position:absolute; top:-1000px; left:-10px;"></select>
          <div class="skillLevel" id="skillLevel">
            <span class="skill-default" id="temp_skill">Experience Level</span>
            <!--skill-options-->
            <div class="skill-options" id="skill-options" style="display:none;">
              <div class="skill-options-top">&nbsp;</div><!--skill-options-top-->
              <!--skill-options-content-->

              <div class="skill-options-content">
                <label class="skill-default">Experience Level</label>
                <ul class="option">
                  <% for skill in @skills %>
                    <li selected=""><label onclick="onSkillChange(); skills_csv2.add_show_skill(this); unbindKeydown();" value = <%= "'" + "#{skill.id}" + "'" %> id=<%= "'" + "#{skill.id}" + "'" %>><%= skill.name %></label></li>
                  <% end %>
                </ul>
              </div>
              <!--/skill-options-content-->
              <div class="skill-options-bottom">&nbsp;</div><!--skill-options-top-->
            </div>
            <!--/skill-options-->
          </div>

          <!--/skillLevel-->
          <input type="button" tabindex="4" id="skills-add-button" class="add-button"  value="" disabled="disabled" />
          <!--</form>-->
        </div>
        <div class="clear-float">&nbsp;</div>
        <ul class="added-skills" id="skill-table">

        </ul>
        <div class="clear-float">&nbsp;</div>
      </div>
      <!--/skills-gradient-->
    </div>
    <!--/topSkills-content-->
    <div class="topSkills-bottom">&nbsp;</div><!--/topSkills-bottom-->
  </div>

  <!--/container-topSkills-->


  <!---inner-paring-block-->
  <div class="inner-paring-block overflow-visible">
    <div class="inner-paring-block-top">&nbsp;</div>
    <div class="inner-paring-block-content">
      <!--skills-gradient-->
      <div class="skills-gradient overflow-visible">
        <div class="block-heading-block">
          <h3>LANGUAGES</h3>

          <label>Select up to five languages and</label>
          <label>your degree of fluency in each</label>
        </div>
        <div class="clear-float">&nbsp;</div> <!--do not delete for height issue-->

        <div class="paring-content" id="language-add">
          <a class="add-skills" title="Add" href="javascript:void(0);" onclick="language_csv2.show();">+ Add</a>
          <div class="hr_line clear-float"></div>
        </div>
        <select tabindex="5" id="lang-dummy" style="height:0px; width:0px; position:absolute; top:-1000px; left:-10px;"></select>
        <div class="language-selector-block overflow-visible" id="language-selector-block" style="display:none;">
          <form name="language-add" onsubmit="language_csv2.langbox_submit(); return false;">
            <div class="language-slector" id ="langauge-selector">
              <span class="label-default" id="temp">Language</span>

              <div class="language-options" id="lo" style="display:none;">
                <div class="language-options-top">&nbsp;</div>
                <div class="language-options-content">
                  <label class="label-default">Language</label>
                  <ul class="option">
                    <% for language in @languages -%>
                      <li selected=""><label onclick="language_csv2.add_show(this); unbindKeydown();" id=<%= "'"+"#{language.id}"+"'" %> ><%= language.name %></label></li>
                    <% end %>
                  </ul>
                </div>
                <div class="language-options-bottom">&nbsp;</div>

              </div>
            </div>
            <select tabindex="6" id="fluency-dummy" style="height:0px; width:0px; position:absolute; top:-1000px; left:-10px;"></select>
            <div class="fluency-selector" id="fluency-selector">
              <label class="label-default-top">Level of Fluency</label>
              <div class="fluency-options" id="fo">
                <label class="label-default">Level of Fluency</label>
                <ul class="option">

                  <li selected=""><label class="conventional" onclick="language_csv2.adv_conv(this);unbindKeydown();" id="1">Conversational</label></li>
                  <li selected=""><label class="advanced" onclick="language_csv2.adv_conv(this);centralizePopup();unbindKeydown();" id="2">Advanced</label></li>
                </ul>
              </div>
            </div>
            <input tabindex="7" type="submit" id="language-add-button" class="add-button lfloat margin-L-10px margin-T--1px"  value="" disabled="disabled" />
          </form>
        </div>

        <div class="clear-float">&nbsp;</div> <!--do not delete for height issue-->
        <ul class="lang-table" id="lang-table">

        </ul>
      </div>
      <!--/skills-gradient-->
    </div>
    <div class="inner-paring-block-bottom">&nbsp;</div>
  </div>
  <!---/inner-paring-block-->

  <!---inner-paring-block-->
  <div class="inner-paring-block margin-L-10px">
    <div class="inner-paring-block-top">&nbsp;</div>
    <div class="inner-paring-block-content">
      <!--skills-gradient-->
      <div class="skills-gradient">
        <div class="block-heading-block">
          <h3>Degrees, Licenses and Certifications</h3>
          <label>Optional.</label>
          <label>Add all relevant degrees, licenses and certifications.</label>
        </div>
        <a class="help-icon" title="help" href="javascript:void(0);" id="cert-help" onclick="skill_help2();"><img height="24" width="24" alt="help" src="/assets/question-icon.gif" /></a>
        <div class="clear-float">&nbsp;</div> <!--do not delete for height issue-->
        <div class="paring-content" id="certificate-add">
          <a class="add-skills" title="Add" href="javascript:void(0);" onclick="certificate_csv2.show();">+ Add</a>
          <div class="hr_line clear-float"></div>
        </div>
        <div id="certificate-selector-block" style="display:none;">

          <div class="customized-inner-input input-text" id="certification_dropdown">
            <div class="input-left">&nbsp;</div>
            <input type="hidden" id="add_cert_text_placeholder" value="Type to access database" />
            <input tabindex="8" class="lang-auto" type="text" name="add_cert_text" id="add_cert_text" onkeyup="calc_cert();" onFocus="focus_element(this);" onBlur="blur_element(this);" onkeydown="type_element(this);"/>
            <div class="input-right">&nbsp;</div>
          </div>

          <input tabindex="9" type="button" class="add-button margin-L-20px add-button-cert" id="certificate-add-button" value="" disabled="disabled" />


        </div>
        <ul class="credential-table" id="cert-table">

        </ul>
      </div>
      <!--/skills-gradient-->
    </div>
    <div class="inner-paring-block-bottom">&nbsp;</div>
  </div>
  <!---/inner-paring-block-->
  <div class="clear-float">&nbsp;</div> <!--do not delete for height issue-->
</div>
<% if controller.controller_name == "account" %>
  <div class="button-container">
    <input type="submit" id="credential-save"  onclick="credential_save.call('update');" value="" disabled="disabled"  class="btn-save rfloat" />
    <span id="loader_credential" class="rfloat" style="display:none;"><%=image_tag("ajax-loader-login-dark-texture.gif", :alt => "Loading ...")%></span>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
     
    $("#lang-dummy").focus(function(){
        
      $(".language-slector").parents('.inner-paring-block').addClass('activeBlock');
      $('.default-level').css('display','none');
      if($('.language-options').is(":visible") == true){
        $('.language-options').hide();
      }
      else{
        $('.language-options').show();
                    
        $('.option').children().each(function(){
          if($(this).attr('selected')=='selected'){
            $(this).removeClass('selected').removeAttr('selected');
          }
        });
                        
        $('.language-options .option').find('#1').parent().addClass('selected').attr('selected', 'selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();
                        
        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('lo'), 'language_cs');
        });
      }
		
      $('.education-options').css('display','none');
      $('.skill-options').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');
		
      //e.stopPropagation();
    
    });
     
    $("#fluency-dummy").focus(function(){
        
      $(".fluency-selector").parents('.inner-paring-block').addClass('activeBlock');
      $('.default-level').css('display','none');
      if($('.fluency-options').is(":visible") == false){
        $('.fluency-options').show();
                    
        $('.option').children().each(function(){
          if($(this).attr('selected')=='selected'){
            $(this).removeClass('selected').removeAttr('selected');
          }
        });
                        
        $('.fluency-options .option').find('#1').parent().addClass('selected').attr('selected', 'selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();
                        
        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('fo'), 'fluency_cs');
        });
      }
      else{
        $('.fluency-options').hide();
      }
		
      $('.education-options').css('display','none');
      $('.skill-options').css('display','none');
      $('.language-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');
		
      //e.stopPropagation();
    
    });
    
    $("#edu-level-dummy").focus(function(){
        
      if($('.education-options').is(":visible") == true)
        $('.education-options').hide();
      else{
        $('.education-options').show();
		    
        $('.option').children().each(function(){
          if($(this).attr('selected')=='selected'){
            $(this).removeClass('selected').removeAttr('selected');
          }
        });
                        
        $('.education-options .option').find('#1').parent().addClass('selected').attr('selected', 'selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();
                        
        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('education-options'), 'edulevel');
        });
      }
      $('.skill-options').css('display','none');
      $('.language-options').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');

      //e.stopPropagation();
    
    });
    
    $("#skill-level-dummy").focus(function(){
        
      if($('.skill-options').is(":visible") == true)
        $('.skill-options').hide();
      else{
        $('.skill-options').show();
        $('.option').children().each(function(){
          if($(this).attr('selected')=='selected'){
            $(this).removeClass('selected').removeAttr('selected');
          }
        });
                        
        $('.skill-options .option').find('#1').parent().addClass('selected').attr('selected', 'selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();
                        
        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('skill-options'), 'skilevel');
        });
      }
      $('.education-options').css('display','none');
      $('.language-options').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');
		
      //e.stopPropagation();
    
    });
    
    $('div#content-container').addClass('overflow-visible');
    certificate.initialize("<%=h @selected_certificates%>");
    language_csv2.initialize("<%=h @selected_languages%>");
    skills_csv2.initialize("<%=h @selected_proficiencies%>");
    credential_enter();
    prof_autocomplete.create();
    cert_autocomplete.create();
    uni_autocomplete.create();
    //college_autocomplete.create();
    
<% if controller.controller_name == "account" %>
      //$("#credential-save").attr("disabled","disabled");
<% end %>
    if ($(".lang-table li").length == 5 ){
      $("#language-add-button").hide();
    }
    
    if ($(".added-skills li").length == 5 ){
      $("#skills-add-button").hide();
    }
    
    if ($(".credential-table li").length == 5 ){
      $("#certificate-add-button").hide();
    }

<% if controller.controller_name == "account" %>
      $("#credential-save").removeClass('active');
<% end %>

    $('#add_prof_text').live('keyup', function() {
      var match_occured = '';
<% @proficiencies.each do |proficiency| %>
        if($("#add_prof_text").val() == "<%= proficiency.name %>") {
          match_occured = 'occured';
          return false;
          //$("div#proficiencyOccurence").html("<input type='hidden' value='occured' id='match-occured' />");
        } else {
          match_occured = 'notoccured';
          return false;
          //$("div#proficiencyOccurence").html("<input type='hidden' value='not-occured' id='match-occured' />");
        }
        if(match_occured == "occured") {
          $("div#proficiencyOccurence").html("<input type='hidden' value='occured' id='match-occured' />");
        }
<% end %>
    });

    if($('.language-options', this).is(":visible"))
      $('.language-options', this).hide();
        
    $('body').click(function(){
		
      $('.label-default-top').css('display','block');
      $('.fluency-options').css('display','none');

      $('.container-topSkills').removeClass('activeBlock');
      $('.inner-paring-block').removeClass('activeBlock');

      $('div.paring-cont-interest').removeClass('activeBlock');
      $('div.paring-cont-zip').removeClass('activeBlock');
      $('div.container-salary').removeClass('activeBlock');

      $('div.promo-code').removeClass('activeBlock');
      $('div.paypal').removeClass('activeBlock');

      $('.education-options').css('display','none');
      $('.skill-options').css('display','none');
      $('.language-options').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');
                
      $(document).unbind('keydown');
    });

    $('.workenv-options li a').click(function(){
      $(this).parents('ul.workenv-options').find('a.active').removeClass('active');
      $(this).parents('ul.workenv-options').find('a.default').addClass('moderately');
      $(this).parents('ul.workenv-options').find('a.default').removeClass('default');
      $(this).addClass('active');
    });
         
    $('.language-slector').click(function(e){
      $(this).parents('.inner-paring-block').addClass('activeBlock');
      $('.default-level',this).css('display','none');
      if($('.language-options', this).is(":visible") == true){
        $('.language-options', this).hide();
      }
      else{
        $('.language-options', this).show();
                    
        $('.option').children().each(function(){
          if($(this).attr('selected')=='selected'){
            $(this).removeClass('selected').removeAttr('selected');
          }
        });
                        
        $('.language-options .option').find('#1').parent().addClass('selected').attr('selected', 'selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();
                        
        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('lo'), 'language_cs');
        });
      }
		
      $('.education-options').css('display','none');
      $('.skill-options').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');
		
      e.stopPropagation();
    });
       
    $('.fluency-selector').click(function(e){
      $(this).parents('.inner-paring-block').addClass('activeBlock');
      $('.default-level',this).css('display','none');
      if($('.fluency-options', this).is(":visible") == false){
        $('.fluency-options', this).show();
                    
        $('.option').children().each(function(){
          if($(this).attr('selected')=='selected'){
            $(this).removeClass('selected').removeAttr('selected');
          }
        });
                        
        $('.fluency-options .option').find('#1').parent().addClass('selected').attr('selected', 'selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();
                        
        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('fo'), 'fluency_cs');
        });
      }
      else{
        $('.fluency-options', this).hide();
      }
		
      $('.education-options').css('display','none');
      $('.skill-options').css('display','none');
      $('.language-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');
		
      e.stopPropagation();
    });

    $('.educationLevel').click(function(e){
      if($('.education-options', this).is(":visible") == true)
        $('.education-options', this).hide();
      else{
        $('.education-options', this).show();
	
        $('.option').children().each(function(){
          if($(this).attr('selected') == 'selected'){
            $(this).removeClass('selected').removeAttr('selected');
          }
        });
        $('.education-options .option').find('#1').parent().addClass('selected').attr('selected', 'selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();
                        
        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('education-options'), 'edulevel');
        });
      }
      $('.skill-options').css('display','none');
      $('.language-options').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');

      e.stopPropagation();
    });

    $('.skillLevel').click(function(e){
      if($('.skill-options', this).is(":visible") == true)
        $('.skill-options', this).hide();
      else{
        $('.skill-options', this).show();
        $('.option').children().each(function(){
          if($(this).attr('selected')=='selected'){
            $(this).removeClass('selected').removeAttr('selected');
          }
        });
                        
        $('.skill-options .option').find('#1').parent().addClass('selected').attr('selected', 'selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();
                        
        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('skill-options'), 'skilevel');
        });
      }
      $('.education-options').css('display','none');
      $('.language-options').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');
		
      e.stopPropagation();
    });

    //added for active deactive blcoks

    $('.container-topSkills').click(function(e){
      $('.paring-blocks').find('div.activeBlock').removeClass('activeBlock');
      $(this).addClass('activeBlock');
		
      $('.education-options').css('display','none');
      $('.skill-options').css('display','none');
      $('.language-options').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');

      e.stopPropagation();
    });

    $('.inner-paring-block').click(function(e){
      $('.paring-blocks').find('div.activeBlock').removeClass('activeBlock');
      $(this).addClass('activeBlock');

      $('.education-options').css('display','none');
      $('.skill-options').css('display','none');
      $('.language-options').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');
      e.stopPropagation();
    });

    $('.language-options-content ul li').each(function(){
      $('label',this).click(function(){
        _labelVale = $(this).html();
        $('.language-slector .label-default').text(_labelVale);
        $('.language-slector .label-default-top').text(_labelVale);
        $('.language-slector .label-default').addClass("text-active");
        $('.language-slector .label-default-top').addClass("text-active");
      });
    });

    $('.fluency-options ul li').each(function(){
      $('label',this).click(function(){
        _labelVale = $(this).html();
        $('.fluency-selector .label-default').text(_labelVale);
        $('.fluency-selector .label-default-top').text(_labelVale);
        if(_labelVale=="Conversational") {
          $('.fluency-selector .label-default-top').removeClass("text-active-blue text-active-red");
          $('.fluency-selector .label-default-top').addClass("text-active-blue");
        }
        else if(_labelVale=="Advanced") {
          $('.fluency-selector .label-default-top').removeClass("text-active-blue text-active-red");
          $('.fluency-selector .label-default-top').addClass("text-active-red");
        }
      });
    });

    $('.education-options-content ul li').each(function(){
      $('label',this).click(function(){
        _labelVale = $(this).html();
        $('.educationLevel .education-default').text(_labelVale);
        $(".education-default").addClass("text-active");
			
      });
    });

    $('.skill-options-content ul li').each(function(){
      $('label',this).click(function(){
        _labelVale = $(this).html();
        $('.skillLevel .skill-default').text(_labelVale);
        $(".skill-default").addClass("text-active");
      });
    });

    //added for active and deactivated divs under pairing profile - basics tab
    $('div.paring-cont-interest').live("click", function() {
      if($('div.paring-cont-zip').hasClass('activeBlock')) {
        $('div.paring-cont-zip').removeClass('activeBlock');
      } else if($('div.container-salary').hasClass('activeBlock')) {
        $('div.container-salary').removeClass('activeBlock');
      }
      //$('.paring-blocks').find('div.activeBlock').removeClass('active');
      $(this).addClass('activeBlock');
    });

    $('div.paring-cont-zip').live("click", function() {
      if($('div.paring-cont-interest').hasClass('activeBlock')) {
        $('div.paring-cont-interest').removeClass('activeBlock');
      } else if($('div.container-salary').hasClass('activeBlock')) {
        $('div.container-salary').removeClass('activeBlock');
      }
      //$('.paring-blocks').find('div.activeBlock').removeClass('active');
      $(this).addClass('activeBlock');
    });

    $('div.container-salary').live("click", function() {
      if($('div.paring-cont-interest').hasClass('activeBlock')) {
        $('div.paring-cont-interest').removeClass('activeBlock');
      } else if($('div.paring-cont-zip').hasClass('activeBlock')) {
        $('div.paring-cont-zip').removeClass('activeBlock');
      }
      $(this).addClass('activeBlock');
    });
        
    $('.option li').hover(function(){
      $('.option').children().each(function(){
        if($(this).attr('selected')=='selected'){
          $(this).removeClass('selected').removeAttr('selected');
        }
      });
      $(this).addClass('selected').attr('selected', 'selected');
    });
  });
 
  function certificate_click_autocomplete() {
    document.getElementById("certificate-add-button").disabled = "";
    $("#certificate-add-button").removeClass("add-button add-button-active");
    $("#certificate-add-button").addClass("add-button-active");
    $('#certificate-add-button').click(function(){
      if(document.getElementById('certificate-add-button').disabled==false && $("#certificate-add-button").hasClass("add-button-active")){
        certbox_submit();
      }
    })
  }

  function calc_cert() {
    if($("#editing").val() == "editing-cert") {
      //$('#certificate').hide();
      $("#certificate-add-button").attr("disabled","");
      $("#certificate-add-button").removeClass("add-button");
      $("#certificate-add-button").addClass("add-button-active");
    } else {
      if($("#add_cert_text").val()!="" && $("#add_cert_text").val()!="Type to access database") {
        //$("#certificate-add-button").removeAttr("disabled");
        document.getElementById('certificate-add-button').disabled = false;
        $("#certificate-add-button").removeClass("add-button");
        $("#certificate-add-button").addClass("add-button-active");
      }
      else {
        //$("#certificate-add-button").attr("disabled","disabled");
        document.getElementById('certificate-add-button').disabled = true;
        $("#certificate-add-button").removeClass("add-button-active");
        $("#certificate-add-button").addClass("add-button");
      }

    }
    $('#certificate-add-button').click(function(){
      if(document.getElementById('certificate-add-button').disabled==false && $("#certificate-add-button").hasClass("add-button-active")){
        certbox_submit();
      }
    })
  }

  function onEducationChange(){
    var match_occured = '';
<% @proficiencies.each do |proficiency| %>
      if($("#add_prof_text").val() == "<%= proficiency.name %>") {
        match_occured = 'occured';
        return;
      } else {
        match_occured = 'occured';
      }
<% end %>
        
    if(match_occured == "occured") {
      $("div#proficiencyOccurence").html("<input type='hidden' value='occured' id='match-occured' />");
    }
    else{
      $("div#proficiencyOccurence").html("<input type='hidden' value='notoccured' id='match-occured' />");
    }
  }

  function onSkillChange(){
    var match_occured = '';
<% @proficiencies.each do |proficiency| %>
      if($("#add_prof_text").val() == "<%= proficiency.name %>") {
        match_occured = 'occured';
        return
      } else {
        match_occured = 'occured';
      }
<% end %>
        
    if(match_occured == "occured") {
      $("div#proficiencyOccurence").html("<input type='hidden' value='occured' id='match-occured' />");
    }
    else{
      $("div#proficiencyOccurence").html("<input type='hidden' value='notoccured' id='match-occured' />");
    }
  }

  function skills_click_autocomplete(){
    $("div#proficiencyOccurence").html("<input type='hidden' value='occured' id='match-occured' />");
    skills_csv2.add_show_val();
  }

<% if controller.controller_name == "account" %>
    $(function(){
      $(".profile-breadcrumb").children().each(function(){
												
        if($(this).hasClass("active")){
          if($(this).children().attr("title")!="Intro"){
            $("#info-dummy").hide();
            return;
          }
          else if($(this).children().attr("title")=="Intro"){
            $("#info-dummy").show();
            return;
          }
                                                                                                                                
        }
												
      })
    })
<% end %>
</script>
