<%=javascript_include_tag("pairing","jquery.autocomplete")%>

<script type="text/javascript">
  function remove_cross(val){
    el = val;
    element_id = val.id;
    element_val = document.getElementById(element_id).value;
    element_val = $.trim(element_val)
    if (element_val == "Begin typing to access database." || element_val == ""){
      if(element_id == "add_uni_text"){
        $("#college-remove").hide();
      }
      else if(element_id == "add_cert_text"){
        $("#certificate-remove").hide();
      }
    }
  }
  
  $(document).ready(function() {
    var validate_enter_button = "";
    var validate_return_button = "";
    //showNormalShadow();
    $("#lang-dummy").unbind().focus(function(){
      $(".language-slector").parents('.inner-paring-block').removeClass('error').addClass('activeBlock');
      checkErrorHighlights();
      $('.default-level').css('display','none');
      if($('.language-options').is(":visible") == true){
        $('.language-options').hide();
      }
      else{
        $('.language-options').show();
        $('.option').children().each(function(){
          if($(this).attr('selected')=='selected'){
            $(this).removeClass('selected').removeAttr('selected');
          }
        });

        $('.language-options .option').find('#1').parent().addClass('selected').attr('selected', 'selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();
                        
        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('lo'), 'language_cs');
        });
      }

      $('.education-options').css('display','none');
      $('.skill-options').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');
      $('.degree-options').css('display','none');
      //e.stopPropagation();
    });
     
    $("#fluency-dummy").unbind().focus(function(e){
      $('#fluency-selector').click();
      //e.stopPropgation();
      e.preventDefault();
    });

    $("#edu-level1-dummy").unbind().focus(function(e){
      $('.educationLevel').click();
      //e.stopPropgation();
      e.preventDefault();
    });

    $("#edu-level2-dummy").unbind().focus(function(e){
      $('.educationLevelRole2').click();
      //e.stopPropgation();
      e.preventDefault();
    });

    $("#edu-level3-dummy").unbind().focus(function(e){
      $('.educationLevelRole3').click();
      //e.stopPropgation();
      e.preventDefault();
    });

    $("#skill-level1-dummy").unbind().focus(function(e){
      $('.skillLevel').click();
      //e.stopPropgation();
      e.preventDefault();
    });

    $("#skill-level2-dummy").unbind().focus(function(e){
      $('.skillLevelRole2').click();
      //e.stopPropgation();
      e.preventDefault();
    });

    $("#skill-level3-dummy").unbind().focus(function(e){
      $('.skillLevelRole3').click();
      //e.stopPropgation();
      e.preventDefault();
    });

    
    
    $('div#content-container').addClass('overflow-visible');
    //certificate.initialize("<%#= @selected_certificates.html_safe%>"+"_jucert_"+"<%#= @selected_licenses.html_safe%>");
    certificate.initialize("<%= @new_selected_certificates.html_safe%>");
    language_csv2.initialize("<%= @selected_languages.html_safe%>");
    college_cs.initialize("<%= @selected_colleges.html_safe%>");
    degree_cs.initialize("<%= @selected_degree.html_safe%>");
    
    //credential_enter();
    if($('.cert-list')){
      $('.cert-list').parent().parent().remove();
    }

    if($('.college-university-list')){
      $('.college-university-list').parent().parent().remove();
    }

    cert_autocomplete.create();
    uni_autocomplete.create();
    
    $('.cert-list').parent().append("<div id='cert-dd-textbox' onclick='changeToTextBoxCertificate(event);' class='collegeUniversity-autoComplete-txt' style='display:none'>Other (enter your own)</div>");
    $('.college-university-list').parent().append("<div id='college-univ-textbox' onclick='changeToTextBoxCollege(event);' class='collegeUniversity-autoComplete-txt' style='display:none'>Other (enter your own)</div>");

<% if controller.controller_name == "account" %>
      //$("#credential-save").attr("disabled","disabled");
      $("#credential-save").removeClass('active');
<% end %>

    $('#add_prof_text').live('keyup', function() {
      var match_occured = '';
<% @proficiencies.each do |proficiency| %>
        if($("#add_prof_text").val() == "<%= proficiency.name %>") {
          match_occured = 'occured';
          return false;
          //$("div#proficiencyOccurence").html("<input type='hidden' value='occured' id='match-occured' />");
        } else {
          match_occured = 'notoccured';
          return false;
          //$("div#proficiencyOccurence").html("<input type='hidden' value='not-occured' id='match-occured' />");
        }
        if(match_occured == "occured") {
          $("div#proficiencyOccurence").html("<input type='hidden' value='occured' id='match-occured' />");
        }
<% end %>
    });

    if($('.language-options', this).is(":visible"))
      $('.language-options', this).hide();
        
    $('body').click(function(e){
		
      $('.label-default-top').css('display','block');
      $('.fluency-options').css('display','none');
      $('.degree-options').css('display','none');

      $('.container-topSkills').removeClass('activeBlock');
      $('.inner-paring-block').removeClass('activeBlock');

      $('div.paring-cont-interest').removeClass('activeBlock');
      $('div.paring-cont-zip').removeClass('activeBlock');
      $('div.container-salary').removeClass('activeBlock');

      $('div.promo-code').removeClass('activeBlock');
      $('div.paypal').removeClass('activeBlock');

      $('.education-options').css('display','none');
      $('.education-options-role2').css('display','none');
      $('.education-options-role3').css('display','none');

      $('.skill-options').css('display','none');
      $('.skill-options-role2').css('display','none');
      $('.skill-options-role3').css('display','none');

      $('.language-options').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');
      $('.college-university-list').css('display','none');
      $('.collegeUniversity-autoComplete-txt').hide();
      $('.collegeUniversity-autoComplete-txt').html("Other (enter your own)");
      $('#certificate-textbox').val('0');
      $('#college-textbox').val('0');
      $(document).unbind('keydown');
      e.stopPropagation();
    });

    $('.container-topSkills').click(function(e){
      $('.collegeUniversity-autoComplete-txt').hide();
      $('.collegeUniversity-autoComplete-txt').html("Other (enter your own)");
      $('#certificate-textbox').val('0');
      $('#college-textbox').val('0');
      $('.cert-list').css('display','none');
      $('.college-university-list').css('display','none');
      $(document).unbind('keydown');
    })

    $('.workenv-options li a').click(function(){
      $(this).parents('ul.workenv-options').find('a.active').removeClass('active');
      $(this).parents('ul.workenv-options').find('a.default').addClass('moderately');
      $(this).parents('ul.workenv-options').find('a.default').removeClass('default');
      $(this).addClass('active');
    });
         
    $('.language-slector').click(function(e){
      $(this).parents('.inner-paring-block').removeClass('error').addClass('activeBlock');
      checkErrorHighlights();
      $('.default-level',this).css('display','none');
      if($('.language-options', this).is(":visible") == true){
        $('.language-options', this).hide();
      }
      else{
        $('.language-options', this).show();
        $('.option').children().each(function(){
          if($(this).attr('selected')=='selected'){
            $(this).removeClass('selected').removeAttr('selected');
          }
        });

        $('.language-options .option').find('#1').parent().addClass('selected').attr('selected', 'selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();
                        
        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('lo'), 'language_cs');
        });
      }

      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');
      $('.degree-options').css('display','none');

      $('.education-options').css('display','none');
      $('.education-options-role2').css('display','none');
      $('.education-options-role3').css('display','none');

      $('.skill-options').css('display','none');
      $('.skill-options-role2').css('display','none');
      $('.skill-options-role3').css('display','none');
		
      e.stopPropagation();
    });
    /*For degree Drop Down Start*/

    $('#deg-dummy').unbind().focus(function(e){
      $('.degree-slector').click();
      e.preventDefault();
    });
    
    $('.degree-slector').click(function(e){
      $(this).parents('.inner-paring-block').removeClass('error').addClass('activeBlock');
      checkErrorHighlights();
      $('.default-level',this).css('display','none');
      if($('.degree-options', this).is(":visible") == true){
        $('.degree-options', this).hide();
      }
      else{
        $('.degree-options', this).show();

        $('.option').children().each(function(){
          if($(this).attr('selected')=='selected'){
            $(this).removeClass('selected').removeAttr('selected');
          }
        });

        $('.degree-options .option').find('#1').parent().addClass('selected').attr('selected', 'selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();

        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('deg'), 'degree_cs');
        });
      }

      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');
      $('.language-options').css('display','none');
      $('.skill-options-role3').css('display','none');

      $('.education-options').css('display','none');
      $('.education-options-role2').css('display','none');
      $('.education-options-role3').css('display','none');

      $('.skill-options').css('display','none');
      $('.skill-options-role2').css('display','none');
      $('.skill-options-role3').css('display','none');
      e.stopPropagation();
    });
    
    /*For degree Drop Down End*/
    $('#fluency-selector').click(function(e){
      $(this).parents('.inner-paring-block').removeClass('error').addClass('activeBlock');
      checkErrorHighlights();
      $('.default-level',this).css('display','none');
      if($('#fo', this).is(":visible") == false){
        $('#fo', this).show();
                    
        $('.option').children().each(function(){
          if($(this).attr('selected')=='selected'){
            $(this).removeClass('selected').removeAttr('selected');
          }
        });

        $('#fo .option').find('#1').parent().addClass('selected').attr('selected', 'selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();
                        
        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('fo'), 'fluency_cs');
        });
      }
      else{
        $('#fo', this).hide();
      }

      $('.language-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');
      $('.degree-options').css('display','none');

      $('.education-options').css('display','none');
      $('.education-options-role2').css('display','none');
      $('.education-options-role3').css('display','none');

      $('.skill-options').css('display','none');
      $('.skill-options-role2').css('display','none');
      $('.skill-options-role3').css('display','none');

      e.stopPropagation();
    });

    $('#status-dummy').unbind().focus(function(e){
      $('#options-selector').click();
      //e.stopPropagation();
      e.preventDefault();
    });

    $('#options-selector').click(function(e){
      $(this).parents('.inner-paring-block').removeClass('error').addClass('activeBlock');
      checkErrorHighlights();
      $('.default-level',this).css('display','none');
      if($('#options-selector-content', this).is(":visible") == false){
        $('#options-selector-content', this).show();

        $('.option').children().each(function(){
          if($(this).attr('selected')=='selected'){
            $(this).removeClass('selected').removeAttr('selected');
          }
        });

        $('#options-selector-content .option').find('#1').parent().addClass('selected').attr('selected', 'selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();

        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('options-selector-content'), 'options_cs');
        });
      }
      else{
        $('#options-selector-content', this).hide();
      }

      $('.language-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');
      $('.degree-options').css('display','none');
      $('#fo').css('display','none');

      $('.education-options').css('display','none');
      $('.education-options-role2').css('display','none');
      $('.education-options-role3').css('display','none');

      $('.skill-options').css('display','none');
      $('.skill-options-role2').css('display','none');
      $('.skill-options-role3').css('display','none');

      e.stopPropagation();
    });


    $('.educationLevel').click(function(e){
      $(this).parents('.container-topSkills ').removeClass('error').addClass('activeBlock');
      checkErrorHighlights();
      if($('.education-options', this).is(":visible") == true)
        $('.education-options', this).hide();
      else{
        $('.education-options', this).show();
	
        $('.option').children().each(function(){
          if($(this).attr('selected') == 'selected'){
            $(this).removeClass('selected').removeAttr('selected');
          }
        });
        $('.education-options .option').find('#1_').parent().addClass('selected').attr('selected', 'selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();
                        
        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('education-options'), 'edulevel1');
        });
      }
     
      $('.language-options').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');
      $('.degree-options').css('display','none');

      $('.education-options-role2').css('display','none');
      $('.education-options-role3').css('display','none');

      $('.skill-options').css('display','none');
      $('.skill-options-role2').css('display','none');
      $('.skill-options-role3').css('display','none');

      e.stopPropagation();
    });

    $('.skillLevel').click(function(e){
      $(this).parents('.container-topSkills ').removeClass('error').addClass('activeBlock');
      checkErrorHighlights();
      if($('.skill-options', this).is(":visible") == true)
        $('.skill-options', this).hide();
      else{
        $('.skill-options', this).show();
        $('.option').children().each(function(){
          if($(this).attr('selected')=='selected'){
            $(this).removeClass('selected').removeAttr('selected');
          }
        });
                        
        $('.skill-options .option').find('#1').parent().addClass('selected').attr('selected', 'selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();
                        
        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('skill-options'), 'explevel1');
        });
      }
      $('.language-options').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');
      $('.degree-options').css('display','none');

      $('.education-options').css('display','none');
      $('.education-options-role2').css('display','none');
      $('.education-options-role3').css('display','none');

      $('.skill-options-role2').css('display','none');
      $('.skill-options-role3').css('display','none');
		
      e.stopPropagation();
    });

    $('.educationLevelRole2').click(function(e){
      $(this).parents('.container-topSkills ').removeClass('error').addClass('activeBlock');
      checkErrorHighlights();
      if($('.education-options-role2', this).is(":visible") == true)
        $('.education-options-role2', this).hide();
      else{
        $('.education-options-role2', this).show();

        $('.option').children().each(function(){
          if($(this).attr('selected') == 'selected'){
            $(this).removeClass('selected').removeAttr('selected');
          }
        });
        $('.education-options-role2 .option').find('#1_').parent().addClass('selected').attr('selected', 'selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();

        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('education-options-role2'), 'edulevel2');
        });
      }
      $('.language-options').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');
      $('.degree-options').css('display','none');

      $('.education-options').css('display','none');
      $('.education-options-role3').css('display','none');

      $('.skill-options').css('display','none');
      $('.skill-options-role2').css('display','none');
      $('.skill-options-role3').css('display','none');
      e.stopPropagation();
    });

    $('.skillLevelRole2').click(function(e){
      $(this).parents('.container-topSkills ').removeClass('error').addClass('activeBlock');
      checkErrorHighlights();
      if($('.skill-options-role2', this).is(":visible") == true)
        $('.skill-options-role2', this).hide();
      else{
        $('.skill-options-role2', this).show();
        $('.option').children().each(function(){
          if($(this).attr('selected')=='selected'){
            $(this).removeClass('selected').removeAttr('selected');
          }
        });

        $('.skill-options-role2 .option').find('#1').parent().addClass('selected').attr('selected', 'selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();

        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('skill-options-role2'), 'explevel2');
        });
      }
      $('.language-options').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');
      $('.degree-options').css('display','none');

      $('.education-options').css('display','none');
      $('.education-options-role2').css('display','none');
      $('.education-options-role3').css('display','none');

      $('.skill-options').css('display','none');
      $('.skill-options-role3').css('display','none');
      e.stopPropagation();
    });

    $('.educationLevelRole3').click(function(e){
      $(this).parents('.container-topSkills ').removeClass('error').addClass('activeBlock');
      checkErrorHighlights();
      if($('.education-options-role3', this).is(":visible") == true)
        $('.education-options-role3', this).hide();
      else{
        $('.education-options-role3', this).show();

        $('.option').children().each(function(){
          if($(this).attr('selected') == 'selected'){
            $(this).removeClass('selected').removeAttr('selected');
          }
        });
        $('.education-options-role3 .option').find('#1_ ').parent().addClass('selected').attr('selected', 'selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();

        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('education-options-role3'), 'edulevel3');
        });
      }
      $('.language-options').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');
      $('.degree-options').css('display','none');

      $('.education-options').css('display','none');
      $('.education-options-role2').css('display','none');
      
      $('.skill-options').css('display','none');
      $('.skill-options-role2').css('display','none');
      $('.skill-options-role3').css('display','none');
      
      e.stopPropagation();
    });

    $('.skillLevelRole3').click(function(e){
      $(this).parents('.container-topSkills ').removeClass('error').addClass('activeBlock');
      checkErrorHighlights();
      if($('.skill-options-role3', this).is(":visible") == true)
        $('.skill-options-role3', this).hide();
      else{
        $('.skill-options-role3', this).show();
        $('.option').children().each(function(){
          if($(this).attr('selected')=='selected'){
            $(this).removeClass('selected').removeAttr('selected');
          }
        });

        $('.skill-options-role3 .option').find('#1').parent().addClass('selected').attr('selected', 'selected');
        $('.option').scrollTop(0);
        //DropDownHandler.time = System.currentTimeMillis();
        DropDownHandler.t = new Date().getTime();

        $(document).unbind('keydown').bind('keydown', function(e){
          DropDownHandler.func(e, document.getElementById('skill-options-role3'), 'explevel3');
        });
      }
      $('.language-options').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');
      $('.degree-options').css('display','none');

      $('.education-options').css('display','none');
      $('.education-options-role2').css('display','none');
      $('.education-options-role3').css('display','none');

      $('.skill-options').css('display','none');
      $('.skill-options-role2').css('display','none');
      e.stopPropagation();
    });

    //added for active deactive blcoks

    $('.container-topSkills').click(function(e){
      $('.paring-blocks').find('div.activeBlock').removeClass('activeBlock');
      $(this).removeClass('error').addClass('activeBlock');
      checkErrorHighlights();
		
      $('.education-options').css('display','none');
      $('.skill-options').css('display','none');
      $('.language-options').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.skill-dropdown').css('display','none');
      $('.degree-options').css('display','none');

      e.stopPropagation();
    });

    $('.inner-paring-block').click(function(e){
      $('.paring-blocks').find('div.activeBlock').removeClass('activeBlock');
      $(this).removeClass('error').addClass('activeBlock');
      checkErrorHighlights();

      $('.education-options').css('display','none');
      $('.skill-options').css('display','none');
      $('.language-options').css('display','none');
      $('.fluency-options').css('display','none');
      $('.cert-list').css('display','none');
      $('.college-university-list').css('display','none');
      $('.collegeUniversity-autoComplete-txt').hide();
      $('.collegeUniversity-autoComplete-txt').html("Other (enter your own)");
      $('#certificate-textbox').val('0');
      $('#college-textbox').val('0');
      $('.skill-dropdown').css('display','none');
      $('.degree-options').css('display','none');

      e.stopPropagation();
    });

    $('#degree-options-content ul li').each(function(){
      $('label',this).click(function(){
        _labelVale = $(this).html();
        $('#degree-selector .label-default').text(_labelVale).addClass("text-active");
        $("#degree-remove").show();
        //$('#lo .label-default-top').text(_labelVale);
        //$('#lo .label-default-top').addClass("text-active");
      });
    });
    
    $('#options-selector-content ul li').each(function(){
      $(this).click(function(){
        _labelVale = $(this).children().html();
        $('#options-selector .label-default-top').text(_labelVale).addClass("text-active");
        $('#options-selector-content .label-default').text(_labelVale).addClass("text-active");
        $("#degree-remove").show();
        degree_status('Expected');
        
      });
    });
    
    $('#language-options-content ul li').each(function(){
      $('label',this).click(function(){
        _labelVale = $(this).html();
        $('#langauge-selector .label-default').text(_labelVale).addClass("text-active");
        $("#language-remove").show();
        if($('#fluency-selector .label-default-top').text()!="Level of Fluency"){
          $('#validate-language').val("1");
        }
        //$('#lo .label-default-top').text(_labelVale);
        //$('#lo .label-default-top').addClass("text-active");
      });
    });
    
    $('#fo ul li').each(function(){
      $('label',this).click(function(){
        _labelVale = $(this).html();
        $('#fluency-selector .label-default').text(_labelVale);
        $('#fluency-selector .label-default-top').text(_labelVale);
        if(_labelVale=="Conversational") {
          $('#fluency-selector .label-default').removeClass("text-active-blue text-active-red");
          $('#fluency-selector .label-default').addClass("text-active-blue");
          $('#fluency-selector .label-default-top').removeClass("text-active-blue text-active-red");
          $('#fluency-selector .label-default-top').addClass("text-active-blue");
        }
        else if(_labelVale=="Advanced") {
          $('#fluency-selector .label-default').removeClass("text-active-blue text-active-red");
          $('#fluency-selector .label-default').addClass("text-active-red");
          $('#fluency-selector .label-default-top').removeClass("text-active-blue text-active-red");
          $('#fluency-selector .label-default-top').addClass("text-active-red");
        }
        $("#language-remove").show();
        if($('#langauge-selector').find('span.label-default').text()!="Language"){
          $('#validate-language').val("1");
        }
      });
    });

    $('.education-options-content ul li').each(function(){
      $('label',this).click(function(){
        _labelVale = $(this).html();
        $('.educationLevel .education-default').text(_labelVale);
        $(".educationLevel .education-default").addClass("text-active");
        $("div#removeRole1Contents").html("<a href='javascript:void(0)' class='remove' onclick='clearRole1Contents();'><img src='/assets/remove-skill.png' alt='Remove Role' width='20' height='20' /></a>");
      });
    });

    $('.skill-options-content ul li').each(function(){
      $('label',this).click(function(){
        _labelVale = $(this).html();
        $('.skillLevel .skill-default').text(_labelVale);
        $(".skillLevel .skill-default").addClass("text-active");
        $("div#removeRole1Contents").html("<a href='javascript:void(0)' class='remove' onclick='clearRole1Contents();'><img src='/assets/remove-skill.png' alt='Remove Role' width='20' height='20' /></a>");
      });
    });

    $('.education-options-content-role2 ul li').each(function(){
      $('label',this).click(function(){
        _labelVale = $(this).html();
        $('.educationLevelRole2 .education-default').text(_labelVale);
        $(".educationLevelRole2 .education-default").addClass("text-active");
        $("div#removeRole2Contents").html("<a href='javascript:void(0)' class='remove' onclick='clearRole2Contents();'><img src='/assets/remove-skill.png' alt='Remove Role' width='20' height='20' /></a>");
      });
    });

    $('.skill-options-content-role2 ul li').each(function(){
      $('label',this).click(function(){
        _labelVale = $(this).html();
        $('.skillLevelRole2 .skill-default').text(_labelVale);
        $(".skillLevelRole2 .skill-default").addClass("text-active");
        $("div#removeRole2Contents").html("<a href='javascript:void(0)' class='remove' onclick='clearRole2Contents();'><img src='/assets/remove-skill.png' alt='Remove Role' width='20' height='20' /></a>");
      });
    });

    $('.education-options-content-role3 ul li').each(function(){
      $('label',this).click(function(){
        _labelVale = $(this).html();
        $('.educationLevelRole3 .education-default').text(_labelVale);
        $(".educationLevelRole3 .education-default").addClass("text-active");
        $("div#removeRole3Contents").html("<a href='javascript:void(0)' class='remove' onclick='clearRole3Contents();'><img src='/assets/remove-skill.png' alt='Remove Role' width='20' height='20' /></a>");
      });
    });

    $('.skill-options-content-role3 ul li').each(function(){
      $('label',this).click(function(){
        _labelVale = $(this).html();
        $('.skillLevelRole3 .skill-default').text(_labelVale);
        $(".skillLevelRole3 .skill-default").addClass("text-active");
        $("div#removeRole3Contents").html("<a href='javascript:void(0)' class='remove' onclick='clearRole3Contents();'><img src='/assets/remove-skill.png' alt='Remove Role' width='20' height='20' /></a>");
      });
    });

    //added for active and deactivated divs under pairing profile - basics tab
    $('div.paring-cont-interest').live("click", function() {
      if($('div.paring-cont-zip').hasClass('activeBlock')) {
        $('div.paring-cont-zip').removeClass('activeBlock');
      } else if($('div.container-salary').hasClass('activeBlock')) {
        $('div.container-salary').removeClass('activeBlock');
      }
      //$('.paring-blocks').find('div.activeBlock').removeClass('active');
      $(this).addClass('activeBlock');
    });

    $('div.paring-cont-zip').live("click", function() {
      if($('div.paring-cont-interest').hasClass('activeBlock')) {
        $('div.paring-cont-interest').removeClass('activeBlock');
      } else if($('div.container-salary').hasClass('activeBlock')) {
        $('div.container-salary').removeClass('activeBlock');
      }
      //$('.paring-blocks').find('div.activeBlock').removeClass('active');
      $(this).addClass('activeBlock');
    });

    $('div.container-salary').live("click", function() {
      if($('div.paring-cont-interest').hasClass('activeBlock')) {
        $('div.paring-cont-interest').removeClass('activeBlock');
      } else if($('div.paring-cont-zip').hasClass('activeBlock')) {
        $('div.paring-cont-zip').removeClass('activeBlock');
      }
      $(this).addClass('activeBlock');
    });
        
    $('.option li').hover(function(){
      $('.option').children().each(function(){
        if($(this).attr('selected')=='selected'){
          $(this).removeClass('selected').removeAttr('selected');
        }
      });
      $(this).addClass('selected').attr('selected', 'selected');
    });

    $("#role-block").click(function(){
      hideCollegeInnerTextBox();
      hideCertificateInnerTextBox();
    });

    $("#degree-block").click(function(){
      hideCollegeInnerTextBox();
      hideCertificateInnerTextBox();
    });

    $("#college-block").click(function(){
      hideCertificateInnerTextBox();
    });

    $("#certificate-block").click(function(e){
      hideCollegeInnerTextBox();
      //e.stopPropagation();
    });

    $("#language-block").click(function(){
      hideCollegeInnerTextBox();
      hideCertificateInnerTextBox();
    });
    /*remove button implementation*/
    $("#degree-remove").click(function(){
      $("#degree-selector").find('span.label-default').removeClass("text-active");
      $("#degree-selector").find('span.label-default').text("Degree");
      $("#degree-options-content").find('label.label-default').removeClass("text-active");
      $("#degree-options-content").find('label.label-default').text("Degree");
      $("#options-selector").find("label.label-default-top").removeClass("text-active");
      $("#options-selector").find("label.label-default-top").text("Status");
      $("#options-selector-content").find("label.label-default").removeClass("text-active");
      $("#options-selector-content").find("label.label-default").text("Status");
      $("#degree-remove").hide();
      $('#selected_degree').val(0);
      $('#selected_status').val(0);
      active_inactive_buttons();
    });
    $("#language-remove").click(function(){
      $("#langauge-selector").find('span.label-default').removeClass("text-active");
      $("#langauge-selector").find('span.label-default').text("Language");
      $("#language-options-content").find('label.label-default').removeClass("text-active");
      $("#language-options-content").find('label.label-default').text("Language");
      $("#fluency-selector").find("label.label-default-top").removeClass("text-active-blue text-active-red");
      $("#fluency-selector").find("label.label-default-top").text("Level of Fluency");
      $("#fo").find("label.label-default").removeClass("text-active-blue text-active-red");
      $("#fo").find("label.label-default").text("Level of Fluency");
      $("#language-remove").hide();
      $('#selected_language_1').val(0);
      $('#selected_fluency').val(0);
      active_inactive_buttons();
      $('#validate-language').val(0);
    });
    $("#college-remove").click(function(){
      $("#add_uni_text").val("");
      $("#add_uni_text").blur();
      $("#college-remove").hide();
      $('#validate-college').val(0);
      active_inactive_buttons();
    });
    $("#certificate-remove").click(function(){
      $("#add_cert_text").val("");
      $("#add_cert_text").blur();
      $("#certificate-remove").hide();
      $('#validate-certificate').val(0);
      active_inactive_buttons();
    });

<% if !params[:id].nil? %>
      setTimeout(checkInactiveCredentialsSections, 1000);
      //checkInactiveCredentialsSections();
<%end%>
  });
 
  function calc_cert() {
    if($("#editing").val() == "editing-cert") {
      //$('#certificate').hide();
      $("#certificate-add-button").attr("disabled","");
      $("#certificate-add-button").removeClass("add-button");
      $("#certificate-add-button").addClass("add-button-active");
    } else {
      if($("#add_cert_text").val()!="" && $("#add_cert_text").val()!="Type to access database") {
        //$("#certificate-add-button").removeAttr("disabled");
        document.getElementById('certificate-add-button').disabled = false;
        $("#certificate-add-button").removeClass("add-button");
        $("#certificate-add-button").addClass("add-button-active");
      }
      else {
        //$("#certificate-add-button").attr("disabled","disabled");
        document.getElementById('certificate-add-button').disabled = true;
        $("#certificate-add-button").removeClass("add-button-active");
        $("#certificate-add-button").addClass("add-button");
      }

    }
    $('#certificate-add-button').click(function(){
      if(document.getElementById('certificate-add-button').disabled==false && $("#certificate-add-button").hasClass("add-button-active")){
        certbox_submit();
      }
    })
  }

  function onEducationChange(){
    var match_occured = '';
<% @proficiencies.each do |proficiency| %>
      if($("#add_prof_text").val() == "<%= proficiency.name %>") {
        match_occured = 'occured';
        return;
      } else {
        match_occured = 'occured';
      }
<% end %>

    if(match_occured == "occured") {
      $("div#proficiencyOccurence").html("<input type='hidden' value='occured' id='match-occured' />");
    }
    else{
      $("div#proficiencyOccurence").html("<input type='hidden' value='notoccured' id='match-occured' />");
    }
  }

  function add_languages(){
    var value1 = $('#langauge-selector').find('span').text();
    //console.log(value1);
    language_csv2.add_another(value1, $('#fluency-selector .label-default-top').text());
  }

<% if controller.controller_name == "account" %>
    $(function(){
      $(".profile-breadcrumb").children().each(function(){
        if($(this).hasClass("active")){
          if($(this).children().attr("title")!="Intro"){
            $("#info-dummy").hide();
            return;
          }
          else if($(this).children().attr("title")=="Intro"){
            $("#info-dummy").show();
            return;
          }
        }
      })
    })
<% end %>

</script>

<% if controller.controller_name == "account" %>
  <%= form_tag("/pairing_profile/save_credentials", :id=>"credential_form", :name=>"credential_form", :method=>"post", :remote => true) do -%>
    <%=hidden_field_tag :certificate_param%>
    <%=hidden_field_tag :save_type%>
    <%=hidden_field_tag :skills%>
    <%=hidden_field_tag :selected_languages%> <!-- " 'lang1__flu1','lang2__flu2','lang3__flu3' "-->
    <%=hidden_field_tag :degree%> <!-- " 'degree1highest' "-->
    <%=hidden_field_tag :status%> <!-- " 'statusofdegree' "-->
    <%=hidden_field_tag :universities%> <!-- " 'uni1','uni2','uni3' "-->
    <%=hidden_field_tag :role_code%><!-- "code" -->
  <% end %>
<% end %>

<%@degrees = Degree.all%>

<div class="paring-blocks" style="overflow:visible;">
  <!--container-topSkills-->
  <div class="container-topSkills" id="role-container">
    <div class="topSkills-top">&nbsp;</div><!--/topSkills-top-->
    <%= render :partial => "/pairing_profile/desired_roles" %>
    <div class="topSkills-bottom">&nbsp;</div><!--/topSkills-bottom-->
  </div>

  <!--/container-topSkills-->
  <div class="clear-float">&nbsp;</div>
  <div class="container-topSkills">
    <!---inner-paring-block-->
    <div class="inner-paring-block overflow-visible" id="degree-container">
      <div class="inner-paring-block-top">&nbsp;</div>
      <div class="inner-paring-block-content">
        <!--skills-gradient-->
        <div class="skills-gradient overflow-visible" id="degree-block">
          <div class="block-heading-block">
            <h3><%=t ("pairing_profile.credentials.degree.heading") %></h3>

            <label><%=t ("pairing_profile.credentials.degree.contentL1") %></label>
            <label><%=t ("pairing_profile.credentials.degree.contentL2") %></label>
          </div>
          <div class="clear-float">&nbsp;</div> <!--do not delete for height issue-->
          <ul>
            <li>

              <div class="degree-selector-block overflow-visible" id="degree-selector-block">
                <form name="degree-add">
                  <select tabindex="10" id="deg-dummy" style="height:0px; width:0px; position:absolute; top:-1000px; left:-10px;"></select>
                  <div class="degree-slector" id ="degree-selector">
                    <span class="label-default" id="temp-deg"><%=t ("pairing_profile.credentials.degree.label1") %></span>

                    <div class="degree-options" id="deg" style="display:none;">
                      <div class="degree-options-top">&nbsp;</div>
                      <div class="degree-options-content" id="degree-options-content">
                        <label class="label-default"><%=t ("pairing_profile.credentials.degree.label1") %></label>
                        <ul class="option">
                          <% for degree in @degrees -%>
                            <li selected=""><label onclick="degree_validate(<%= "'"+"#{degree.name}"+"'" %>);unbindKeydown();" id=<%= "'"+"#{degree.id}"+"'" %> ><%= degree.name %></label></li>
                          <% end %>
                        </ul>
                      </div>
                      <div class="degree-options-bottom">&nbsp;</div>

                    </div>
                  </div>
                  <select tabindex="11" id="status-dummy" style="height:0px; width:0px; position:absolute; top:-1000px; left:-10px;"></select>
                  <div class="fluency-selector" id="options-selector">
                    <label class="label-default-top"><%=t ("pairing_profile.credentials.degree.label2") %></label>
                    <div class="fluency-options" id="options-selector-content">
                      <label class="label-default"><%=t ("pairing_profile.credentials.degree.label2") %></label>
                      <ul class="option">
                        <li selected=""><label onclick="unbindKeydown();" id="1"><%=t ("pairing_profile.credentials.degree.drop_down1") %></label></li>
                        <li selected=""><label onclick="unbindKeydown();" id="2"><%=t ("pairing_profile.credentials.degree.drop_down2") %></label></li>
                      </ul>
                    </div>
                  </div>

                </form>
              </div>
              <a href='javascript:void(0)' id="degree-remove" class='remove' style="display:none;"><img src='/assets/remove-skill.png' alt='Remove Certificate' width='20' height='20' /></a>
            </li>
          </ul>
          <div class="clear-float">&nbsp;</div> <!--do not delete for height issue-->
          <ul class="lang-table" id="lang-table">

          </ul>
        </div>
        <!--/skills-gradient-->
      </div>
      <div class="inner-paring-block-bottom">&nbsp;</div>
    </div>
    <!---/inner-paring-block-->


    <!-- ********************************************************************************************************************************************** -->
    <!---inner-paring-block for COLLEGES AND UNIVERSITIES-->
    <div class="inner-paring-block margin-L-10px" id="college-container">
      <div class="inner-paring-block-top">&nbsp;</div>
      <div class="inner-paring-block-content">
        <!--skills-gradient-->
        <div class="skills-gradient" id="college-block">
          <div class="block-heading-block">
            <h3><%=t ("pairing_profile.credentials.coll_uni.heading") %><span class="smallfont"><%=t ("pairing_profile.credentials.coll_uni.heading2") %></span></h3>
            <label><%=t ("pairing_profile.credentials.coll_uni.contentL1") %></label>
            <label><%=t ("pairing_profile.credentials.coll_uni.contentL2") %></label>
          </div>
          <!--
          <a class="help-icon" title="help" href="javascript:void(0);" id="cert-help" onclick="skill_help2();"><img height="24" width="24" alt="help" src="/assets/info.png" /></a>
          -->
          <div class="clear-float">&nbsp;</div> <!--do not delete for height issue-->

          <div id="collegeAndUniversities-Div" class="collegeAndUniversities-Div" style="display:none;">
          </div>

          <input type="hidden" value="1" id="validate-college"/>
          <input type="hidden" value="0" id="college-textbox"/>

          <div class="college-and-universities-block">
            <div class="customized-inner-input input-text" id="certification_dropdown">
              <div class="input-left">&nbsp;</div>
              <input type="hidden" id="add_uni_text_placeholder" value="<%=t ("pairing_profile.credentials.label") %>" />
              <input tabindex="12" class="lang-auto" type="text" value="<%=t ("pairing_profile.credentials.label") %>" name="add_uni_text" id="add_uni_text" onFocus="focus_element(this);" onBlur="remove_cross(this);blur_element(this);" onkeydown="type_element(this);" onkeyup="$('#college-remove').show();active_inactive_buttons();"/>
              <div class="input-right">&nbsp;</div>
            </div>
            <a href='javascript:void(0)' id="college-remove" class='remove' style="display:none;"><img src='/assets/remove-skill.png' alt='Remove College' width='20' height='20' /></a>
            <div class="paring-content" id="college-add">
              <a class="add-skills" title="Add" href="javascript:void(0);" onclick="$('#college-remove').hide();college_cs.add_another($('#add_uni_text').val());"><%=t ("pairing_profile.credentials.add") %></a>
            </div>
          </div>

          <ul class="credential-table" id="cert-table">
          </ul>
        </div>
        <!--/skills-gradient-->
      </div>
      <div class="inner-paring-block-bottom">&nbsp;</div>
    </div>
    <!---/inner-paring-block for COLLEGES AND UNIVERSITIES-->
    <div class="clear-float">&nbsp;</div>
  </div>


  <div class="container-topSkills">
    <!-- ********************************************************************************************************************************************** -->
    <!---inner-paring-block-->
    <div class="inner-paring-block overflow-visible" id="language-container">
      <div class="inner-paring-block-top">&nbsp;</div>
      <div class="inner-paring-block-content">
        <!--skills-gradient-->
        <div class="skills-gradient overflow-visible" id="language-block">
          <div class="block-heading-block">
            <h3><%=t ("pairing_profile.credentials.language.heading") %></h3>

            <label><%=t ("pairing_profile.credentials.language.content") %></label>
          </div>
          <div class="clear-float">&nbsp;</div>
          <div id="langauges-Div" class="langauges-Div" style="display:none;">

          </div>
          <input type="hidden" id="validate-language" value="0"/>
          <div class="clear-float">&nbsp;</div> <!--do not delete for height issue-->
          <ul>
            <li>
              <select tabindex="14" id="lang-dummy" style="height:0px; width:0px; position:absolute; top:-1000px; left:-10px;"></select>
              <div class="language-selector-block overflow-visible" id="language-selector-block">
                <form name="language-add" onsubmit="language_csv2.langbox_submit(); return false;">
                  <div class="language-slector" id ="langauge-selector">
                    <span class="label-default" id="temp-lang"><%=t ("pairing_profile.credentials.language.label1") %></span>

                    <div class="language-options" id="lo" style="display:none;">
                      <div class="language-options-top" id="temp-lang-top">&nbsp;</div>
                      <div class="language-options-content" id="language-options-content">
                        <label class="label-default"><%=t ("pairing_profile.credentials.language.label1") %></label>
                        <ul class="option">
                          <% for language in @languages -%>
                            <li selected=""><label onclick="language_csv2.add_show(this); language_validate(<%= "'"+"#{language.name}"+"'" %>); unbindKeydown();" id=<%= "'"+"#{language.id}"+"'" %> ><%= language.name %></label></li>
                          <% end %>
                        </ul>
                      </div>
                      <div class="language-options-bottom">&nbsp;</div>
                    </div>

                  </div>
                  <select tabindex="15" id="fluency-dummy" style="height:0px; width:0px; position:absolute; top:-1000px; left:-10px;"></select>
                  <div class="fluency-selector" id="fluency-selector">
                    <label class="label-default-top"><%=t ("pairing_profile.credentials.language.label2") %></label>
                    <div class="fluency-options" id="fo">
                      <label class="label-default"><%=t ("pairing_profile.credentials.language.label2") %></label>
                      <ul class="option">

                        <li selected=""><label class="conventional" onclick="language_csv2.adv_conv(this);fluency_validate('Conversational');unbindKeydown();" id="1"><%=t ("pairing_profile.credentials.language.conv") %></label></li>
                        <li selected=""><label class="advanced" onclick="language_csv2.adv_conv(this);centralizePopup();fluency_validate('Advanced');unbindKeydown();" id="2"><%=t ("pairing_profile.credentials.language.adv") %></label></li>
                      </ul>
                    </div>
                  </div>
                  <a href='javascript:void(0)' id="language-remove" class='remove' style="display:none;"><img src='/assets/remove-skill.png' alt='Remove Certificate' width='20' height='20' /></a>
                  <div class="paring-content" id="">
                    <a class="add-skills" title="Add" href="javascript:void(0);" onclick="add_languages();"><%=t ("pairing_profile.credentials.add") %></a>
                  </div>
                </form>
              </div>
            </li>
          </ul>
          <div class="clear-float">&nbsp;</div> <!--do not delete for height issue-->
          <ul class="lang-table" id="lang-table">

          </ul>
        </div>
        <!--/skills-gradient-->
      </div>
      <div class="inner-paring-block-bottom">&nbsp;</div>
    </div>
    <!---/inner-paring-block-->
    <!-- ********************************************************************************************************************************************** -->
    <!---inner-paring-block for Licenses and Certifications-->
    <div class="inner-paring-block margin-L-10px" id="certificate-container">
      <div class="inner-paring-block-top">&nbsp;</div>
      <div class="inner-paring-block-content">
        <!--skills-gradient-->
        <div class="skills-gradient" id="certificate-block">
          <div class="block-heading-block">
            <h3><%=t ("pairing_profile.credentials.license_cert.heading") %><span class="smallfont"><%=t ("pairing_profile.credentials.license_cert.heading2") %></span></h3>
            <label><%=t ("pairing_profile.credentials.license_cert.content") %></label>
          </div>
          <!--
          <a class="help-icon" title="help" href="javascript:void(0);" id="cert-help" onclick="skill_help2();"><img height="24" width="24" alt="help" src="/assets/info.png" /></a>
          -->
          <div class="clear-float">&nbsp;</div> <!--do not delete for height issue-->
          <input type="hidden" value="1" id="validate-certificate"/>
          <input type="hidden" value="0" id="certificate-textbox"/>

          <div id="licensesAndCertifications-Div" class="licensesAndCertifications-Div" style="display:none;">

          </div>
          <div class="licences-and-certificate-block">
            <div class="customized-inner-input input-text" id="certification_dropdown">
              <div class="input-left">&nbsp;</div>
              <input type="hidden" id="add_cert_text_placeholder" value="<%=t ("pairing_profile.credentials.label") %>" />
              <input tabindex="13" class="lang-auto" type="text" value="<%=t ("pairing_profile.credentials.label") %>" name="add_cert_text" id="add_cert_text" onFocus="focus_element(this);" onBlur="remove_cross(this);blur_element(this);" onkeydown="type_element(this);" onkeyup="$('#certificate-remove').show();active_inactive_buttons();"/>
              <div class="input-right">&nbsp;</div>
            </div>
            <a href='javascript:void(0)' id="certificate-remove" class='remove' style="display:none;"><img src='/assets/remove-skill.png' alt='Remove Certificate' width='20' height='20' /></a>
            <div class="paring-content" id="certificate-add">
              <a class="add-skills" title="Add" href="javascript:void(0);" onclick="$('#certificate-remove').hide(); certificate.add_another($('#add_cert_text').val());"><%=t ("pairing_profile.credentials.add") %></a>
            </div>
          </div>

          <ul class="credential-table" id="cert-table">
          </ul>
        </div>
        <!--/skills-gradient-->
      </div>
      <div class="inner-paring-block-bottom">&nbsp;</div>
    </div>
    <!---/inner-paring-block for Licenses and Certifications-->
    <!-- ********************************************************************************************************************************************** -->



    <div class="clear-float">&nbsp;</div>
  </div>
  <!--do not delete for height issue-->
</div>
<% if controller.controller_name == "account" %>
  <div class="button-container" style="height: 38px;">
    <input tabindex="16" type="button" id="credential-save" onclick="credential_save.call('update');" value="" class="btn-save rfloat" />
    <span id="error_message" style="display:none;"><%=t ("pairing_profile.credentials.error") %></span>
    <span id="loader_credential" class="rfloat" style="display:none;"><%=image_tag("ajax-loader-login-dark-texture.gif", :alt => "Loading ...")%></span>
  </div>
<% end %>


<%#*Degree<input type="" name="selected_degree" id="selected_degree" value="0"></input>%>
<%#*Status<input type="" name="selected_status" id="selected_status" value="0"></input>%>
<%#*<br/>%>
<%#*lang <input type="" name="selected_language_1" id="selected_language_1" value="0"></input>%>
<%#*flu<input type="" name="selected_fluency" id="selected_fluency" value="0"></input>%>
<%#*<br/>%>
<%#*add lang<input type="" name="selected_language_fluency" id="selected_language_fluency" value="0"></input>%>
<%#*<br/>%>
<%#*selected_role_1<input type="" name="selected_role_1" id="selected_role_1" value="0"></input>%>
<%#*selected_education_1<input type="" name="selected_education_1" id="selected_education_1" value="0"></input>%>
<%#*selected_experience_1<input type="" name="selected_experience_1" id="selected_experience_1" value="0"></input>%>
<%#*<br/>%>
<%#*selected_role_2<input type="" name="selected_role_2" id="selected_role_2" value="0"></input>%>
<%#*selected_education_2<input type="" name="selected_education_2" id="selected_education_2" value="0"></input>%>
<%#*selected_experience_2 <input type="" name="selected_experience_2" id="selected_experience_2" value="0"></input>%>
<%#*<br/>%>
<%#*selected_role_3<input type="" name="selected_role_3" id="selected_role_3" value="0"></input>%>
<%#*selected_education_3<input type="" name="selected_education_3" id="selected_education_3" value="0"></input>%>
<%#*selected_experience_3<input type="" name="selected_experience_3" id="selected_experience_3" value="0"></input>%>
<%#*<br/>%>
<%#*active_inactive_button <input type="" name="active_inactive_button" id="active_inactive_button" value="0"></input>%>




<input type="hidden" name="selected_degree" id="selected_degree" value="0"></input>
<input type="hidden" name="selected_status" id="selected_status" value="0"></input>
<input type="hidden" name="selected_language_1" id="selected_language_1" value="0"></input>
<input type="hidden" name="selected_fluency" id="selected_fluency" value="0"></input>
<input type="hidden" name="selected_language_fluency" id="selected_language_fluency" value="0"></input>
<input type="hidden" name="selected_role_1" id="selected_role_1" value="0"></input>
<input type="hidden" name="selected_education_1" id="selected_education_1" value="0"></input>
<input type="hidden" name="selected_experience_1" id="selected_experience_1" value="0"></input>
<input type="hidden" name="selected_role_2" id="selected_role_2" value="0"></input>
<input type="hidden" name="selected_education_2" id="selected_education_2" value="0"></input>
<input type="hidden" name="selected_experience_2" id="selected_experience_2" value="0"></input>
<input type="hidden" name="selected_role_3" id="selected_role_3" value="0"></input>
<input type="hidden" name="selected_education_3" id="selected_education_3" value="0"></input>
<input type="hidden" name="selected_experience_3" id="selected_experience_3" value="0"></input>
<input type="hidden" name="active_inactive_button" id="active_inactive_button" value="0"></input>
<% if controller.controller_name == "account" %>
  <script type="text/javascript">
    $(
    function()
    {
      $(".btn-save").removeClass("active");
      //$(".btn-save").attr("disabled","disabled");
    }
  )
  </script>
<% end %>