<div class="margin-R-5px lfloat skill-input">
  <div class="customized-inner-input input-text">
    <div class="input-left">&nbsp;</div>
    <% if session[:job_seeker] %>
      <input type="hidden" value="<%= !@job_seeker_added_roles[1].nil? ? @career_cluster_role2.code : "#{t('pairing_profile.credentials.role.r2_label')}" %>" id="add_role2_placeholder" />
      <input type="text" onfocus="showSelectRolesPopup('add_role2', this);" class="accessDatabase <%= !@job_seeker_added_roles[1].nil? ? 'text-active' : '' %>" id="add_role2" name="add_role2" value="<%= !@job_seeker_added_roles[1].nil? ? @career_cluster_role2.descripton : "#{t('pairing_profile.credentials.role.r2_label')}" %>" tabindex="1" maxlength="40" />
      <%if !@job_seeker_added_roles[1].nil?%>
          <%if !@career_cluster_role2.descripton.nil?%>
            <script type="text/javascript">
              $(document).ready(function() {
                <% if controller.controller_name != "position_profile" %>
                role_2_validate($('#add_role2_placeholder').val());
                <%end%>
              });
            </script>
          <%end%>
      <%end%>
    <% elsif session[:employer] %>
      <input type="hidden" value="<%= !@employer_added_roles[1].nil? ? @career_cluster_role2.code : "#{t('pairing_profile.credentials.role.r2_label')}" %>" id="add_role2_placeholder" />
         <input type="text" onfocus="$('#role-container').removeClass('error').addClass('activeBlock'); showSelectRolesPopup('add_role2', this);" class="accessDatabase <%= !@employer_added_roles[1].nil? ? 'text-active' : '' %>" id="add_role2" name="add_role2" value="<%= !@employer_added_roles[1].nil? ? @career_cluster_role2.descripton : "#{t('pairing_profile.credentials.role.r2_label')}" %>" tabindex="1" maxlength="40" />
    <% end %>
    <div class="input-right">&nbsp;</div>
  </div>
</div>
<!--educationLevel-->
<% if session[:job_seeker] %>
<select style="height:0px; width:0px; position:absolute; top:-1000px; left:-10px;" id="edu-level2-dummy" tabindex="5"></select>
<div id="educationLevelRole2" class="educationLevelRole2">
    <span id="temp_edu" class="education-default <%= 'text-active' if !@job_seeker_added_roles[1].nil? %>"><%= !@job_seeker_added_roles[1].nil? ? @job_seeker_added_roles[1].education_level.name : "#{t('pairing_profile.credentials.role.edu_label')}" %></span>
    <%if !@job_seeker_added_roles[1].nil?%>
        <%if !@job_seeker_added_roles[1].education_level.nil?%>
          <script type="text/javascript">
            $(document).ready(function() {
              <% if controller.controller_name != "position_profile" %>
                 education_2_validate("Something");
                 <%end%>
            });
          </script>
        <%end%>
    <%end%>
    <!--education-options-->
    <div style="display:none;" id="education-options-role2" class="education-options-role2">
      <div class="education-options-top">&nbsp;</div><!--education-options-top-->
      <!--education-options-content-->

      <div class="education-options-content-role2">
        <label class="education-default"><%=t ("pairing_profile.credentials.role.edu_label") %></label>
        <ul class="option">
          <% edu_all = EducationLevel.all %>
          <% for edu in edu_all  %>
            <li selected=""><label id="<%= edu.id %>_" value="<%= edu.id %>" onclick="<% if controller.controller_name != "position_profile" %>education_2_validate('<%= edu.name %>');<%end%>unbindKeydown();"><%= edu.name %></label></li>
          <% end %>
        </ul>
      </div>
      <!--.education-options-content-->
      <div class="education-options-bottom">&nbsp;</div>
    </div>
    <!--/education-options-->
</div>
<% end %>
<!--/educationLevel-->

<!--skillLevel-->
<% if session[:job_seeker] %>
<select style="height:0px; width:0px; position:absolute; top:-1000px; left:-10px;" id="skill-level2-dummy" tabindex="6"></select>
<div id="skillLevelRole2" class="skillLevelRole2">
  <span id="temp_skill" class="skill-default <%= 'text-active' if !@job_seeker_added_roles[1].nil? %>"><%= !@job_seeker_added_roles[1].nil? ? @job_seeker_added_roles[1].experience_level.name : "#{t('pairing_profile.credentials.role.exp_label')}" %></span>
  <%if !@job_seeker_added_roles[1].nil?%>
    <%if !@job_seeker_added_roles[1].experience_level.nil?%>
      <script type="text/javascript">
        $(document).ready(function() {
          <% if controller.controller_name != "position_profile" %>
          experience_2_validate("Something");
          <%end%>
        });
      </script>
    <% end %>
  <% end %>
  <!--skill-options-->
  <div style="display:none;" id="skill-options-role2" class="skill-options-role2">
    <div class="skill-options-top">&nbsp;</div><!--skill-options-top-->
    <!--skill-options-content-->

    <div class="skill-options-content-role2">
      <label class="skill-default"><%=t ("pairing_profile.credentials.role.exp_label") %></label>
      <ul class="option">
        <% exp_all = ExperienceLevel.all %>
        <% for exp in exp_all  %>
          <li selected=""><label id="<%= exp.id %>" value="<%= exp.id %>" onclick="<% if controller.controller_name != "position_profile" %>experience_2_validate('<%= exp.name %>');<%end%>unbindKeydown();"><%= exp.name %></label></li>
        <% end %>
      </ul>
    </div>
    <!--/skill-options-content-->
    <div class="skill-options-bottom">&nbsp;</div><!--skill-options-top-->
  </div>
  <!--/skill-options-->
</div>
<!--/skillLevel-->
<% end %>

<div id="removeRole2Contents">
  <% if session[:job_seeker] %>
    <% if !@job_seeker_added_roles[1].nil? %>
      <a href="javascript:void(0)" class="remove" title="remove" onclick = "clearRole2Contents();">
        <%= image_tag("remove-skill.png", :alt => "Remove Role", :width => "20", :height => "20") %>
      </a>
    <% end %>
  <% elsif session[:employer] %>
    <% if !@employer_added_roles[1].nil? %>
      <a href="javascript:void(0)" class="remove" title="remove" onclick = "clearRole2Contents();">
        <%= image_tag("remove-skill.png", :alt => "Remove Role", :width => "20", :height => "20") %>
      </a>
    <% end %>
  <% end %>
</div>