<div class="credential-block1">
	
	<%=render :partial=>"/panels/grey_curve_top",:locals=>{:class_name=>"emp-credential-cover"} -%>
	<div class="credential-block1-1">
		<div class="credential-block-content">
			<div style="margin-bottom:10px;">
				<b>Select Highest Level of Education Required*</b>
				
			</div>
			<%for degree in @degrees%>
				<div class="degree-box">
					<a href="javascript:void(0);" onclick="select_highest_education(<%=degree.id%>);" id="degree_link_<%=degree.id%>" class="<%=@selected_degree_ids.include?(degree.id) ? "degree-tab-selected" : "degree-tab"%>"><%=h(degree.name) -%></a>
				</div>
			<%end%>

			<br class="clear" /><div style="line-height:3px;">&nbsp;</div>
		</div>
	</div>
	<%=render :partial=>"/panels/grey_curve_bottom",:locals=>{:class_name=>"emp-credential-cover"} -%>
	
	<div class="height10"></div>

	<%=render :partial=>"/panels/grey_curve_top",:locals=>{:class_name=>"emp-credential-cover"} -%>
	<div class="credential-block1-2">
		<div class="credential-block-content">
			<div style="margin-bottom:10px;">
				<b>Work Experience (Years)</b>
				<div>
					Select total number of years experience in all fields.
				</div>
			</div>
			<div class="workexp-slider-cotainer"><div id="workexp_slider"></div><div class="workexp-slider-dummy-pad">&nbsp;</div></div>
			<br class="clear"/>
			<div class="workexp-slider-labels">
				<div class="workexp-slider-label" style="left: 2%;">0</div>
				<div class="workexp-slider-label" style="left: 11.5%;">1</div>
				<div class="workexp-slider-label" style="left: 21%;">2</div>
				<div class="workexp-slider-label" style="left: 30.5%;">3</div>
				<div class="workexp-slider-label" style="left: 40%;">4</div>
				<div class="workexp-slider-label" style="left: 49.5%;">5</div>
				<div class="workexp-slider-label" style="left: 59%;">6</div>
				<div class="workexp-slider-label" style="left: 68.5%;">7</div>
				<div class="workexp-slider-label" style="left: 78%;">8</div>
				<div class="workexp-slider-label" style="left: 87.5%;">9</div>
				<div class="workexp-slider-label" style="left: 96%;">10+</div>
				<br class="clear"/>
			</div>

		</div>
	</div>
	<%=render :partial=>"/panels/grey_curve_bottom",:locals=>{:class_name=>"emp-credential-cover"} -%>
	
	<div class="height10"></div>
	
	<%=render :partial=>"/panels/grey_curve_top",:locals=>{:class_name=>"emp-credential-cover"} -%>
	<div class="credential-language">
		<div class="credential-block-content">
			<div class="lang-header-left"><b>Language Skills*</b></div>
			<div class="lang-header-right"><a href="javascript:void(0);" onclick="select_lang_pop.open();" class="small-font">Select Languages</a></div>
			<div class="clear-height"></div>
			<div class="height10"></div>
			<div class="credential-table-leftheader small-font">
				<div class="credential-lang-required">Required</div>
				<div class="credential-lang-required">Desired</div>
				<div class="clear-height"></div>
			</div>
			<div class="clear-height"></div>
			<div id="lang-box">
			</div>
			
			
		</div>
	</div>
	<%=render :partial=>"/panels/grey_curve_bottom",:locals=>{:class_name=>"emp-credential-cover"} -%>
	
	<div class="height10"></div>
	
	<%=render :partial=>"/panels/grey_curve_top",:locals=>{:class_name=>"emp-credential-cover"} -%>
	<div class="credential-block1-3">
		<div class="credential-block-content">
			
			<div style="margin-bottom:10px;">
				<b>Certifications and Licenses </b>
				<div>
					Select from the list of Certifications and Licenses in the Hilo<sup>TM</sup> database or add your own.
				</div>
			</div>
			<div class="credential-table-leftheader small-font">
				<div class="credential-cert-required">Required</div>
				<div class="credential-cert-required">Desired</div>
				<div class="clear-height"></div>
			</div>
			<div class="credential-table-header" >
				<div id="cert_add_box" style="display:none;">
					<form name="cert-add" onsubmit="certbox_submit(); return false;">
						<div class="pos-left credential-type-here">
							Just start typing <img src="/assets/green_right.jpg"/>&nbsp;
						</div>
						<div class="pos-left">
							<input type="text" name="add_cert_text" id="add_cert_text" class="input-field-style"/>&nbsp;
						</div>
						<div class="pos-left">
							<%=submit_tag("+ Add",:class=>"button-style-shared buttton_65X23") -%>&nbsp; 
						</div> 
						<div class="pos-left credential-close">
							<a href="javascript:void(0);" onclick="certificate.hide();" class="small-font">Close</a>
						</div>
						<br class="clear"/>
					</form>
				</div>
				<div class="credential-table-header-add">
					<a href="javascript:void(0);" onclick="certificate.show();" id="cert_add_link" class="small-font">+ Add</a>
				</div>
			</div>
			<br class="clear"/>
			<div class="credential-table" id="cert-table">
				
			</div>
			<br class="clear"/>
		</div>
	</div>
	<%=render :partial=>"/panels/grey_curve_bottom",:locals=>{:class_name=>"emp-credential-cover"} -%>
	
	<div class="height10"></div>

	<%=render :partial=>"/panels/grey_curve_top",:locals=>{:class_name=>"emp-credential-cover"} -%>
	<div class="credential-block1-3">
		<div class="credential-block-content">
			
			<div style="margin-bottom:10px;">
				<b>Top Five Proficiencies *</b>
				<div>
					Select from the list of proficiencies in the Hilo<sup>TM</sup> database.
				</div>
			</div>
			
			<div class="credential-table-header" >
				<div id="prof_add_box" style="display:none;">
					<form name="prof-add" onsubmit="profbox_submit(); return false;">
						<div class="pos-left credential-type-here">
							Just start typing <img src="/assets/green_right.jpg"/>&nbsp;
						</div>
						<div class="pos-left">
							<input type="text" name="add_prof_text" id="add_prof_text" class="input-field-style"/>&nbsp;
						</div>
						<div class="pos-left">
							<%=submit_tag("+ Add",:class=>"button-style-shared buttton_65X23") -%>&nbsp; 
						</div>  
						<div class="pos-left credential-close">
							 <a href="javascript:void(0);" onclick="proficiency.hide();" class="small-font">Close</a>
						</div>
						<br class="clear"/>

					</form>
				</div>
				<div class="credential-table-header-add">
					<a href="javascript:void(0);" onclick="pop_proficiency.popselect();" id="prof_add_link" class="small-font">+ Add</a>
				</div>
			</div>
		
			<br class="clear"/>
			
			<div class="credential-table" id="prof-table">
				
			</div>
			<br class="clear"/>
		</div>
	</div>
	<%=render :partial=>"/panels/grey_curve_bottom",:locals=>{:class_name=>"emp-credential-cover"} -%>

</div>
<br class="clear"/>

<script type="text/javascript">
	var workexp_arr  = eval("[<%=@work_exp_range.join(',')%>]");
	$(document).ready(function(){
		emp_cert_autocomplete.create();
		certificate.initialize("<%=@selected_certificates%>");
		
		pop_proficiency.initialize("<%=@selected_proficiencies%>");
		workexp_slider.create('<%=@work_exp_range.length - 1%>');

		mark_workexp_slider('<%=@job.work_exp_value%>');
		emp_select_lang_pop.init();
		mark_required_lang_and_certificates();	
	});
</script>