<div class="one_click_payment_position_white_content" id="beta_help_access" style="display:none;">
  <div class="help_popup">
    <span class="position_popup-top">&nbsp;</span>
    <div class="position_popup-content_oneclick">
      <div class="position_gradient-content_oneclick" style="padding:0px;">
        <div class="position_popup_select_box">
          <img src="/assets/employer_v2/img-pdd.jpg" />
        </div>
      </div>
      <a id="save-close" href="javascript:void(0)" class="position_close_oneclick" onclick="$('#beta_help_access').hide();$('#fade_normal').hide();footerOnClosingPopup();">Close</a>
    </div>
    <span class="position_popup-bottom">&nbsp;</span>
  </div>
</div>

<div id="company_link_help" class="one_click_payment_position_white_content" style="position: fixed;">
  <div class="dashboard_position_popup-siteActivation" style="height: auto;">
    <span class="position_popup-top">&nbsp;</span>
    <div class="position_popup-content_oneclick">
      <div class="position_gradient-content_oneclick">
        <div class="position_popup-header-container">
          <label class="popup-heading"><%=t ("company_link_popup.title") %></label>
        </div>
        <div class="position_popup_select_box">
          <div class="access-block">
            <div class="lfloat error-text">
              <label class="free-text" style="display: inline-block; line-height: 18px; padding-right: 10px; text-align: justify;">
                <%=t ("company_link_popup.content") %>
              </label>
            </div>
          </div>
        </div>
      </div>
      <a class="position_close_oneclick" href="javascript:void(0)" onclick="closeHelpPopup('company_link_help');" id="oneclick-close"><%=t ("company_link_popup.close") %></a>
    </div>
    <span class="position_popup-bottom">&nbsp;</span>
  </div>
</div>

<div id="ics_link_help" class="one_click_payment_position_white_content" style="position: fixed;">
  <div class="dashboard_position_popup-siteActivation" style="height: auto;">
    <span class="position_popup-top">&nbsp;</span>
    <div class="position_popup-content_oneclick">
      <div class="position_gradient-content_oneclick">
        <div class="position_popup-header-container">
          <label class="popup-heading"><%=t ("internal_candidate_link_popup.title") %></label>
        </div>
        <div class="position_popup_select_box">
          <div class="access-block">
            <div class="lfloat error-text">
              <label class="free-text" style="display: inline-block; line-height: 18px; padding-right: 10px; text-align: justify;">
                <%=t ("internal_candidate_link_popup.content") %>
              </label>
            </div>
          </div>
        </div>
      </div>
      <a class="position_close_oneclick" href="javascript:void(0)" onclick="closeHelpPopup('ics_link_help');" id="oneclick-close"><%=t ("internal_candidate_link_popup.close") %></a>
    </div>
    <span class="position_popup-bottom">&nbsp;</span>
  </div>
</div>

<div id="position_link_help" class="one_click_payment_position_white_content" style="position: fixed;">
  <div class="dashboard_position_popup-siteActivation" style="height: auto;">
    <span class="position_popup-top">&nbsp;</span>
    <div class="position_popup-content_oneclick">
      <div class="position_gradient-content_oneclick">
        <div class="position_popup-header-container">
          <label class="popup-heading"><%=t ("position_link_popup.title") %></label>
        </div>
        <div class="position_popup_select_box">
          <div class="access-block">
            <div class="lfloat error-text">
              <label class="free-text" style="display: inline-block; line-height: 18px; padding-right: 10px; text-align: justify;">
                <%=t ("position_link_popup.content") %>
              </label>
            </div>
          </div>
        </div>
      </div>
      <a class="position_close_oneclick" href="javascript:void(0)" onclick="closeHelpPopup('position_link_help');" id="oneclick-close"><%=t ("position_link_popup.close") %></a>
    </div>
    <span class="position_popup-bottom">&nbsp;</span>
  </div>
</div>

<div id="eeo_help" class="one_click_payment_position_white_content" style="position: fixed; z-index: 4000;">
  <div class="dashboard_position_popup-siteActivation" style="height: auto;">
    <span class="position_popup-top">&nbsp;</span>
    <div class="position_popup-content_oneclick">
      <div class="position_gradient-content_oneclick">
        <div class="position_popup-header-container">
          <label class="popup-heading"><%=t ("employer_account.eeo_compliance.popup.title") %></label>
        </div>
        <div class="position_popup_select_box">
          <div class="access-block">
            <div class="lfloat error-text">
              <label class="free-text" style="display: inline-block; line-height: 18px; padding-right: 10px; text-align: justify;">
                <%=t ("employer_account.eeo_compliance.popup.content") %>
              </label>
            </div>
          </div>
        </div>
      </div>
      <a class="position_close_oneclick" href="javascript:void(0)" onclick="closeHelpPopup('eeo_help');" id="oneclick-close"><%=t ("employer_account.eeo_compliance.popup.close") %></a>
    </div>
    <span class="position_popup-bottom">&nbsp;</span>
  </div>
</div>
