<div class="blocks">
  <h4>
    <span class="lfloat"><%=t ("position_profile.posting_preview.position_preview.title") %></span>
  </h4>
  <div class="company-information">
    <div class="textarea-container">
      <div class="top">&nbsp;</div>
      <div class="middle middle-Sp">
        <div class="pp-content-left"><%=t ("position_profile.posting_preview.position_preview.contentL1") %><br/><%=t ("position_profile.posting_preview.position_preview.contentL2") %></div>
        <div class="pp-content-right"><input id="" class="btn-pp" type="button" onclick="postingPopup();" /></div>
      </div>
      <div class="bottom">&nbsp;</div>
    </div>
  </div>
</div>

<div class="blocks">
  <h4>
    <span class="lfloat"><%=t ("position_profile.posting_preview.position_details.title") %></span>
  </h4>
  <div class="company-information">
    <div class="textarea-container">
      <div class="top">&nbsp;</div>
      <div class="middle middle-Sp">
        <div class="pp-content-left"><%=t ("position_profile.posting_preview.position_details.contentL1") %><br/><%=t ("position_profile.posting_preview.position_details.contentL2") %></div>
        <div class="pp-content-right"><input type="button"  id="" class="btn-pp" onclick="postingDetails();" /></div>
      </div>
      <div class="bottom">&nbsp;</div>
    </div>
  </div>
</div>