<%content_for :page_css do -%>
	<%=stylesheet_link_tag("employer_account","pairing")%>
	<%=render :partial=>"/shared/slider_css"%>
<%end-%>
<%content_for :page_js do -%>
	<!--[if IE]><script language="javascript" type="text/javascript" src="/assets/excanvas.min.js"></script><![endif]-->
	<%= javascript_include_tag 'jquery.flot.js' %>
	<%=javascript_include_tag "pairing","jquery.autocomplete"%>
<%end-%>
<%=render :partial=>"/employer_account/employer_tab",:locals=>{:tab=>"home"} -%>
<%=render :partial=>"/shared/top_line_cap" -%>
<div class="emp-box">
	<div class="emp-home-content ">
		<div class="emp-left">
			<%=render :partial=>"/employer_account/employer_left_menu/",:locals=>{:jobs => @jobs} -%>
		</div>

		<div class="emp-right right-menu-adjust">
			<%=render :partial=>"/employer_account/activity_summary_panel" -%>
			<%=render :partial=>"/employer_account/home_chart" -%>

			<%=render :partial=>"/position_profile/position_profile_tab",:locals=>{:current_tab => "edit_pos_profile"} -%>

			<%=render :partial=>"/position_profile/create_position_tab",:locals=>{:current_tab => "credential"} -%>
			<div>
				<div class="emp-pairing-contanainer">
					<div style="padding:10px 10px 10px 8px;">
						<div class="pos-prof-create-header">
							Credentials
						</div>
						<div class="pos-right small-font" style="margin-right:0px;">
							* Required 
						</div>
						<br class="clear"/>
						<%=render :partial=>"blocks_credential"%>
						<br class="clear"/>
						
						<div style="float:right;">
							<%=  form_tag("/position_profile/save_credentials",:method =>"post",:name=>"credential_form") do -%>
								<%=submit_tag("Save",:onclick=>"return save_employer_credentials.call(); return false;",:class=>"button-style-shared buttton_65X23")%>	
								<%=hidden_field_tag :certificate_param -%>
								<%=hidden_field_tag :proficiency_param -%>
								<%=hidden_field_tag :workexp_value -%>
								<%=hidden_field_tag :selected_languages,"#{@selected_languages.join(',')}" -%>

								<%=hidden_field_tag :selected_degrees_id,"#{@selected_degree_ids[0]}" -%>
								<%=hidden_field_tag :id,params[:id] -%>

								<%=hidden_field_tag :required_certificates,@required_certificates_arr.join(",") -%>
								<%=hidden_field_tag :required_languages,@required_languages_arr.join(",") -%>
							<%end -%>
							<%=render :partial=>"/position_profile/language_selection",:locals=>{:languages_list => @languages}%>
						</div>
						<br class="clear"/>
					</div>
				</div>	
			</div>
		</div>
		<div class="clear-zero-height"></div>
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function(){
		//adjust_left_panel_height();
	});
</script>